@{
    ViewBag.Title = "Pedidos Online";
}

@using(Html.BeginForm())
{ 
    @Html.AntiForgeryToken()

    <div class="principal1coluna">

        @if(ViewBag.Message != string.Empty && ViewBag.Message != null)
        {
            <div class="alert alert-danger">@ViewBag.Message</div> 
        }
        <h1>Login</h1>
        <br />
        <div class="form-group">
            @Html.Label("E-Mail")
            @Html.TextBox("email", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Senha")
            @Html.Password("senha", null, new { @class = "form-control" })
        </div>
        <br />
        <button type="submit" class="btn btn-block">
            Entrar
        </button>
        <br />
    </div>
}