@model PedidoWeb.Models.PedidoItem

@{
    ViewBag.Title = "Itens de Pedido";
}

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Novo Item do Pedido</h2>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(model => model.PedidoID, "PedidoID", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*@Html.DropDownList("PedidoID", String.Empty)*@
                            @Html.TextBox("PedidoID", (Int32)ViewBag.PedidoID, new { @readonly = "readonly", @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.PedidoID)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProdutoID, "ProdutoID", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ProdutoID", null, String.Empty, new { @class="form-control" })
                            @Html.ValidationMessageFor(model => model.ProdutoID)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantidade, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Quantidade, new { @class="form-control"})
                            @Html.ValidationMessageFor(model => model.Quantidade)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Observacao, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Observacao, new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Observacao)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ValorUnitario, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ValorUnitario, new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.ValorUnitario)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Incluir" class="btn btn-primary" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>                        
                    </div>
                </div>
            }            

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
        <div class="modal-footer"></div>
    </div>
</div>