@model PedidoWeb.Models.Log

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Log</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.LogID)

        <div class="form-group">
            @Html.LabelFor(model => model.DataAlteracao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataAlteracao)
                @Html.ValidationMessageFor(model => model.DataAlteracao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alteracao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alteracao)
                @Html.ValidationMessageFor(model => model.Alteracao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VendedorID, "VendedorID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VendedorID", String.Empty)
                @Html.ValidationMessageFor(model => model.VendedorID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
