
@{
    ViewBag.Title = "Create";

}    
    <div class="principal1coluna">
        <h2>Novo Pedido</h2>
        <hr />
        <br />

        <div class="form-group">
            * @Html.Label("Vendedor")
            @Html.DropDownList("VendedorID", null, new { @disabled = true, @class = "form-control" })
        </div>

        <div class="form-group">
            * @Html.Label("Filial")
        @Html.DropDownList("FilialID", null, string.Empty, new { @class = "form-control" })
            <span class="error" style="visibility: hidden">Filial é obrigatória</span>        
        </div>
        
        @if(ViewBag.TipoConsulta == "LISTAGEM")
        { 
            <div class="form-group">
                * @Html.Label("Cliente")
                @Html.DropDownList("CadastroID", null, string.Empty, new { @class = "form-control" })
                <span class="error" style="visibility: hidden">Cliente é obrigatório</span>
            </div>
        }
        else
        { 
            <div class="form-group">
                * @Html.Label("Cliente")
            @Html.TextBox("CadastroAux", null, string.Empty, new { @class = "form-control" })
                <span class="error" style="visibility: hidden">Cliente é obrigatório</span>
            </div>
        }

        <div class="form-group">
            * @Html.Label("Operação")
        @Html.DropDownList("OperacaoID", null, string.Empty, new { @Class = "form-control" })
            <span class="error" style="visibility: hidden">Operação é obrigatória</span>
        </div>

        <div class="form-group">
            * @Html.Label("Forma de Pagamento")
            @Html.DropDownList("PrazoVencimentoID", null, string.Empty, new { @class = "form-control" })            
            <span class="error" style="visibility: hidden">Prazo de Vencimento</span>
        </div> 
            
        <button type="button" style="min-width:160px" id="btOpcionais" class="btn btn-default btn-sm" onclick="toggleDiv('opcionais')">
            <span id="testeglyph1" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>    
            <span id="testeglyph2" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>        
            Mais Informações
        </button>
                
        <div id="opcionais" class="opcionais" style="display: none">
            
            <div>
                @Html.Label("Número (opcional)")
                @Html.TextBox("NumeroPedido", null, new { @class = "form-control" })
                <span class="error" style="visibility: hidden">Número inválido</span>
            </div>
            <div class="form-group">
                @Html.Label("Transportador (opcional)")
                @Html.DropDownList("TransportadorID", null, string.Empty, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.Label("Tipo de Frete (opcional)")
                @Html.DropDownList("TipoFrete",
                new List<SelectListItem>() { new SelectListItem(){Text="CIF", Value="CIF"},
                    new SelectListItem(){Text="FOB", Value="FOB" }},
                    ViewBag.Empresa.FretePadrao == null?string.Empty:(string)ViewBag.Empresa.FretePadrao, 
                    new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.Label("Ordem de Compra (opcional)")
                <input type="text" id="OrdemCompra" class="form-control" />
            </div>

            <div class="form-group">
                @Html.Label("Observação (opcional)")
                <textarea id="Observacao" class="form-control"></textarea>
            </div>

        </div>

        <br />        
        
        <div class="details">
            <h2>Itens do Pedido</h2>
            <hr />
            <br />

            <div id="MsgAddItem" class="alert alert-success">
                <p>Item adicionado com sucesso. Você pode adicionar mais itens ao pedido.</p>
            </div>

            @if (ViewBag.TipoConsulta == "LISTAGEM") { 
                
                AjaxOptions ajaxOptions = new AjaxOptions() {
                        UpdateTargetId = "ValorUnitario",
                        OnSuccess = "SuccessRequest",
                        OnFailure = "FailureRequest",
                        HttpMethod = "POST"
                    };

                //using (Ajax.BeginForm("ValorUnitario", "Pedido", ajaxOptions))
                //{                    
                    <div class="form-group">
                        * @Html.Label("Produto")
                        @Html.DropDownList("ProdutoID", null, string.Empty, new { @class = "form-control" @*, onchange = "buscaValor()"*@ })
                        <span class="error" style="visibility: hidden">Produto é obrigatório</span>                                
                    </div>
                
                    @*<script type="text/javascript">
                        function buscaValor() {
                            bloqueiaOperacoes(true);
                            $("#ProdutoID").submit();                        
                        }

                        function SuccessRequest(response) {
                            //alert(response);
                            $('#ValorUnitario').val(response);
                            bloqueiaOperacoes(false);
                        }

                        function FailureRequest(response) {
                            alert("Não foi possível buscar o preço do produto");
                            bloqueiaOperacoes(false);
                        }

                        function bloqueiaOperacoes(bloqueio) {
                            $('#add').prop('disabled', bloqueio);
                            $('#submit').prop('disabled', bloqueio);                            
                        }
                    </script>*@    
                //}

            }
            else { 
            
                <div class="form-group">
                    @Html.Label("* Produto")
                @Html.TextBox("ProdutoAux", null, string.Empty, new { @class = "form-control" })
                    <span class="error" style="visibility: hidden">Produto é obrigatório</span>
                </div>
                            
            }
            <div class="form-group">
                * @Html.Label("Quantidade")
                <input type="text" id="Quantidade" class="form-control" />
                <span class="error" style="visibility: hidden">Quantidade é obrigatória</span>
            </div>

            <div class="form-group">
                * @Html.Label("Valor Unitário")
                <input type="text" id="ValorUnitario" class="form-control" />
                <span class="error" style="visibility: hidden">Valor Unitário é obrigatório</span>
            </div>  

            <div class="form-group col-md-5" style="padding: 0 0 0 0">                
                @Html.Label("Percentual de Desconto")
                <input type="text" id="PercDesconto" name="PercDesconto" class="form-control" />
                <span class="error" style="visibility: hidden">Percentual de desconto inválido</span>
            </div>
            <div class="form-group col-md-2">
                
            </div>
            @if (ViewBag.Empresa.CodEmpresa != "BISSOLOTTI")
            {
                <div class="form-group col-md-5" style="padding: 0 0 0 0">                
                    @Html.Label("Valor de Desconto")
                    <input type="text" id="ValorDesconto" name="ValorDesconto" class="form-control" />
                    <span class="error" style="visibility: hidden">Valor de desconto inválido</span>
                </div>  
                <div class="clearfix"></div>

                <div class="form-group">
                    @Html.Label("Observação do Item (opcional)")
                    <textarea id="ObservacaoItem" class="form-control"></textarea>
                    <span class="error" style="visibility: hidden">Observação não pode ter mais de 30 caracteres</span>               
                </div>  
            }      
            @Html.Hidden("ItemIndex")
            <div class="clearfix"></div>      
            
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="add" class="btn btn-default">
                    <span class="glyphicon glyphicon-ok"></span>
                    Salvar Item
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="del" class="btn btn-warning">
                    <span class="glyphicon glyphicon-remove"></span>
                    Limpar Campos
                </button>
            </div>
        </div>
            <br />        
            <div id="pedidoItens"></div>  
            <div id="totalPedido" class="gridRodape"></div>        
            <br />
            
        </div>


    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                Salvar Pedido
            </button>
        </div>
        <div class="btn-group" role="group">
            <a href="@Url.Action("Index")" type="button" class="btn btn-warning">
                <span class=" glyphicon glyphicon-share-alt"></span>
                Sair sem Salvar
            </a>
        </div>
    </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")   
    @Scripts.Render("~/bundles/jqueryui/stylesheet")
        
    <script>       
        
        function toggleDiv(divid) {
            var div = document.getElementById(divid);
            var disp = div.style.display;
            div.style.display = disp == 'none' ? 'block' : 'none';
            
            if (disp == 'none') {
                $("#testeglyph2").show();
                $("#testeglyph1").hide();
            }
            if (disp == 'block') {                
                $("#testeglyph2").hide();
                $("#testeglyph1").show();                
            }
        };
        
        $("document").ready(function () {           

            var produtoSelecionado = 0;
            var cadastroSelecionado = 0;
            var descProdutoSelecionado = '';
            var totalST = 0;
            var totalIPI = 0;
            var stItem = 0;
            var emOperacao = false;
            var tpCons = '@(ViewBag.TipoConsulta)';
            
            $('#ProdutoAux').autocomplete({
                source: function (request, response) {
                    // prepare url : for example '/api/artistapi?query=sonu
                    //var autocompleteUrl = '/Pedido/ProdutoAutoComplete' + '?term=' + request.term;
                    var autocompleteUrl = '/Pedido/ProdutoAutoComplete';
                    $.ajax({
                        url: autocompleteUrl,
                        type: 'POST',
                        cache: false,
                        dataType: 'json',
                        data: jQuery.param({
                            term: request.term
                            , prazoVencimentoID: $('#PrazoVencimentoID').val()
                            , cadastroID: cadastroSelecionado
                        }),
                        success: function (json) {                            
                            var autoc = [];
                            $.each(json, function (id, data) {                                
                                autoc.push({
                                    label: data.Descricao,                                                                   
                                    value: data.ProdutoID,
                                    valor: data.PrecoVarejo
                                });
                            });
                            response(autoc);
                        },
                        error: function (xmlHttpRequest, textStatus, errorThrown) {
                            alert('Erro', textStatus, errorThrown);
                        }
                    });
                },
                minLength: 0,
                select: function (event, ui, json) {                    
                    //alert('you have selected ' + ui.item.label + ' ID: ' + ui.item.value + 'Valor ' + ui.item.valor );
                    $('#ProdutoAux').val(ui.item.label);
                    $('#ValorUnitario').val(ui.item.valor);
                    descProdutoSelecionado = ui.item.label;
                    produtoSelecionado = ui.item.value;
                    return false;
                }
            });           

            $('#CadastroAux').autocomplete({
                source: function (request, response) {
                    // prepare url : for example '/api/artistapi?query=sonu
                    var autocompleteUrl = '/Pedido/CadastroAutoComplete' + '?term=' + request.term;
                    $.ajax({
                        url: autocompleteUrl,
                        type: 'GET',
                        cache: false,
                        dataType: 'json',
                        success: function (json) {
                            var autoc = [];
                            $.each(json, function (id, data) {
                                autoc.push({
                                    label: data.Nome,
                                    value: data.CadastroID                                    
                                });
                            });
                            response(autoc);
                        },
                        error: function (xmlHttpRequest, textStatus, errorThrown) {
                            alert('Erro', textStatus, errorThrown);
                        }
                    });
                },
                minLength: 0,
                select: function (event, ui, json) {
                    //alert('you have selected ' + ui.item.label + ' ID: ' + ui.item.value);
                    $('#CadastroAux').val(ui.item.label);
                    cadastroSelecionado = ui.item.value;                    
                    return false;
                }
            });
            
            $("#VendedorID").prop("disabled", true);
            $("#ValorDesconto").prop("disabled", true);            
            $("#MsgAddItem").hide();
            $("#testeglyph2").hide();
            $('#totalPedido').hide();
            
            var valorUnitario = '@(ViewBag.Empresa.AlteraValorUnitario)';
            var percDesconto = '@(ViewBag.Empresa.DescontoInformado)'; 
            
            if(valorUnitario.toString() === 'True')
                $("#ValorUnitario").prop("disabled", false);
            else
                $("#ValorUnitario").prop("disabled", true);
            if(percDesconto.toString() === 'True')
                $("#PercDesconto").prop("disabled", false);
            else
                $("#PercDesconto").prop("disabled", true);

            var pedidoItens = [];
            var totalPedido = 0;           

            var calulaTotal = function () {
                totalST = 0;
                totalPedido = 0;
                totalIPI = 0;
                for (var i = 0; i < pedidoItens.length; i++) {
                    var d = 0;

                    totalST += Number(String(pedidoItens[i].ValorIcmsSubst).replace(',', '.'));
                        //* Number(String(pedidoItens[i].Quantidade).replace(',', '.'));

                    totalIPI += Number(String(pedidoItens[i].ValorIPI).replace(',', '.'));
                        //* Number(String(pedidoItens[i].Quantidade).replace(',', '.'));

                    if (!isNaN(Number(String(pedidoItens[i].ValorDesconto).replace(',', '.'))))
                        d = Number(String(pedidoItens[i].ValorDesconto).replace(',', '.'))
                            * Number(String(pedidoItens[i].Quantidade).replace(',', '.'));
                    totalPedido += Number(
                        Number(String(pedidoItens[i].Quantidade).replace(',', '.'))
                        * Number(String(pedidoItens[i].ValorUnitario).replace(',', '.'))
                        // Desconto
                        - Number(d)
                        // ST
                        + (Number(String(pedidoItens[i].ValorIcmsSubst).replace(',', '.')))
                            //* Number(String(pedidoItens[i].Quantidade).replace(',', '.')))
                        // IPI
                        + Number(String(pedidoItens[i].ValorIPI).replace(',', '.'))
                            //* Number(String(pedidoItens[i].Quantidade).replace(',', '.'))
                    );
                }
            };
            
            // Add desconto change function        
            $('#PercDesconto').change(function () {
                var percDesconto = Number($('#PercDesconto').val().replace(',', '.'));
                var valUnitario = Number($('#ValorUnitario').val().replace(',', '.'));

                if (isNaN(percDesconto)) {
                    $('#PercDesconto').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#ValorDesconto').val(parseFloat(percDesconto * valUnitario / 100).toFixed(2).replace('.', ','));
                }
            })
            
            // Add  CancelaItem change function
            $('#del').click(function () {
                $('#ProdutoAux').val('').focus();
                $('#Quantidade').val('');
                $('#ValorUnitario').val('');
                $('#ObservacaoItem').val('');
                $('#PercDesconto').val('');
                $('#ValorDesconto').val('');
                $('#ItemIndex').val('');
            });

            // Add ValorUnitario change function
            $('#ProdutoID').change(function () {
                bloqueiaOperacoes(true);
                $.ajax({
                    url: '/Pedido/ValorUnitario',
                    type: 'POST',
                    data: jQuery.param({
                        cadastroID: $('#CadastroID').val()
                        , produtoID: $('#ProdutoID').val()
                        , prazoVencimentoID: $('#PrazoVencimentoID').val()                        
                    }),
                    datatype: "JSON",
                    //contentType: "application/json",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (d) {                        
                        if (d.status == true) {
                            $('#ValorUnitario').val(d.valor);
                            bloqueiaOperacoes(false);
                        }
                        else {
                            bloqueiaOperacoes(false);
                            alert(d.errorMessage);
                        }
                    },
                    error: function () {
                        bloqueiaOperacoes(false);
                        alert('Erro ao buscar valor do item. Por favor tente novamente.');
                    }
                })
            });

            // Add button click function
            $('#add').click(function () {
                // Validações                
                var isValidItem = true;

                if (emOperacao)
                    isValidItem = false;
                if (tpCons == "LISTAGEM") {
                    if ($('#ProdutoID').val().trim() == '') {
                        isValidItem = false;
                        $('#ProdutoID').siblings('span.error').css('visibility', 'visible');
                    }
                    else {
                        $('#ProdutoID').siblings('span.error').css('visibility', 'hidden');
                    }
                }
                else {
                    if ($('#ProdutoAux').val().trim() == '' || produtoSelecionado == 0) {
                        isValidItem = false;
                        $('#ProdutoAux').siblings('span.error').css('visibility', 'visible');
                    }
                    else {
                        $('#ProdutoAux').siblings('span.error').css('visibility', 'hidden');
                    }
                }                

                if ($('#Quantidade').val().trim() == '' || isNaN($('#Quantidade').val().trim().replace(',', '.'))) {
                    isValidItem = false;
                    $('#Quantidade').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#Quantidade').siblings('span.error').css('visibility', 'hidden');
                }
                $('#ValorUnitario').val($('#ValorUnitario').val().trim().replace(',', '.'));
                if ($('#ValorUnitario').val().trim() == '' || isNaN($('#ValorUnitario').val().trim().replace(',', '.'))) {
                    isValidItem = false;
                    $('#ValorUnitario').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#ValorUnitario').siblings('span.error').css('visibility', 'hidden');
                }
                if ($('#ObservacaoItem').val() != undefined) {
                    if ($('#ObservacaoItem').val().length > 30) {
                        isValidItem = false;
                        $('#ObservacaoItem').siblings('span.error').css('visibility', 'visible');
                    }
                    else {
                        $('#ObservacaoItem').siblings('span.error').css('visibility', 'hidden');
                    }
                }
                
                if (isNaN($('#PercDesconto').val().trim().replace(',', '.'))) {
                    isValidItem = false;
                    $('#PercDesconto').siblings('span.error').css('visibility', 'visible');
                } else {
                    $('#PercDesconto').siblings('span.error').css('visibility', 'hidden');
                }

                // Precisa que o cadastro tenha sido informado

                if (tpCons == 'FILTRO') {
                    if ($('#CadastroAux').val().trim() == '' || cadastroSelecionado == 0) {
                        isValidItem = false;
                        $('#CadastroAux').siblings('span.error').css('visibility', 'visible');
                        $('#CadastroAux').focus();
                    }
                    else {
                        $('#CadastroAux').siblings('span.error').css('visibility', 'hidden');
                    }
                } else {
                    if ($('#CadastroID').val().trim() == '') {
                        isValidItem = false;
                        $('#CadastroID').siblings('span.error').css('visibility', 'visible');
                        $('#CadastroID').focus();
                    }
                }
                
                // Add item to list if valid
                if (isValidItem) {                    
                    //var el = document.getElementById('ProdutoAux');

                    bloqueiaOperacoes(true);

                    if (tpCons == "LISTAGEM") {
                        produtoSelecionado = parseInt($('#ProdutoID').val().trim(), 10);
                        descProdutoSelecionado = $('#ProdutoID option:selected').text();
                        cadastroSelecionado = parseInt($('#CadastroID').val().trim());
                    }
                    
                    // Cálculo de ST
                    $.ajax({
                        url: '/Pedido/CalculaImpostos',
                        type: 'POST',
                        data: jQuery.param({
                            cadastroID: cadastroSelecionado
                            , produtoID: produtoSelecionado
                            , valUnitario: $('#ValorUnitario').val().trim().replace('.', ',')
                            , valDesconto: $('#ValorDesconto').val() == undefined ? '0' : $('#ValorDesconto').val().trim().replace('.', ',')
                            , quantidade: $('#Quantidade').val().trim().replace('.', ',')                            
                            , filialID: $('#FilialID').val().trim()
                        }),
                        datatype: "JSON",
                        //contentType: "application/json",
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        success: function (d) {
                            // Checa se o pedido foi salvo no banco de dados

                            if (d.status == true) {
                                //window.location.href = '/Pedido/Index';                                
                                //totalST += d.valor;

                                var i = pedidoItens.length - 1;
                                pedidoItens[i].ValorIcmsSubst = d.valor;
                                pedidoItens[i].ValorIPI = d.ipi;
                                GeneratedItemsTable();                                
                                bloqueiaOperacoes(false);
                            }
                            else {

                                bloqueiaOperacoes(false);
                                alert(d.errorMessage);
                            }

                        },
                        error: function () {
                            bloqueiaOperacoes(false);
                            alert('Erro ao calcular impostos. Por favor tente novamente.');
                        }
                    })
                    if ($('#ItemIndex').val() == '') { //adição de itens       
                        pedidoItens.push({                            
                            ProdutoID: produtoSelecionado,
                            Quantidade: $('#Quantidade').val().trim().replace('.',','),
                            ValorUnitario: $('#ValorUnitario').val().trim().replace('.',','),
                            Observacao: $('#ObservacaoItem').val() == undefined ? '' : $('#ObservacaoItem').val().trim(),
                            //DescProduto: el.options[el.selectedIndex].text,
                            DescProduto: descProdutoSelecionado,
                            ValorDesconto: $('#ValorDesconto').val() == undefined ? '' : $('#ValorDesconto').val().trim().replace('.', ','),
                            PercentualDesconto: $('#PercDesconto').val().trim().replace('.', ','),
                            ValorImcsSubst: '0,00',
                            ValorIPI: '0,00'
                        });
                    } else { //edição de itens                    
                        var i = $('#ItemIndex').val();
                        pedidoItens[i].ProdutoID = produtoSelecionado;
                        pedidoItens[i].Quantidade = $('#Quantidade').val().trim().replace('.', ',');
                        pedidoItens[i].ValorUnitario = $('#ValorUnitario').val().trim().replace('.', ',');
                        pedidoItens[i].Observacao = $('#ObservacaoItem').val() == undefined ? '' : $('#ObservacaoItem').val().trim();
                        pedidoItens[i].DescProduto = descProdutoSelecionado;
                        pedidoItens[i].ValorDesconto = $('#ValorDesconto').val() == undefined ? '' : $('#ValorDesconto').val().trim().replace('.', ',');
                        pedidoItens[i].PercentualDesconto = $('#PercDesconto').val().trim().replace('.', ',');
                        pedidoItens[i].ValorIcmsSubst = '0,00';
                        pedidoItens[i].ValorIPI = '0,00';
                    }
                    if (tpCons == 'LISTAGEM')
                        $('#ProdutoID').val('').focus();
                    else
                        $('#ProdutoAux').val('').focus();
                    $('#Quantidade').val('');
                    $('#ValorUnitario').val('');
                    $('#ObservacaoItem').val('');
                    $('#PercDesconto').val('');
                    $('#ValorDesconto').val('');
                    $('#ItemIndex').val('');
                    produtoSelecionado = 0;
                    $("#MsgAddItem").show();                    
                    setTimeout("$('#MsgAddItem').hide()", 3500);
                }

                GeneratedItemsTable();                
            });

            // Save button click function
            $('#submit').click(function () {

                // Validação do pedido
                var isValidOrder = true;                                
                if (tpCons == 'FILTRO') {
                    if ($('#CadastroAux').val().trim() == '' || cadastroSelecionado == 0) {
                        isValidOrder = false;
                        $('#CadastroAux').siblings('span.error').css('visibility', 'visible');
                        $('#CadastroAux').focus();
                    }
                    else {
                        $('#CadastroAux').siblings('span.error').css('visibility', 'hidden');
                    }
                } else {                    
                    if ($('#CadastroID').val().trim() == '') {
                        isValidOrder = false;                        
                        $('#CadastroID').siblings('span.error').css('visibility', 'visible');
                        $('#CadastroID').focus();
                    }                    
                }

                if ($('#PrazoVencimentoID').val().trim() == '') {
                    isValidOrder = false;
                    $('#PrazoVencimentoID').siblings('span.error').css('visibility', 'visible');
                    $('#PrazoVencimentoID').focus();
                }
                else {
                    $('#PrazoVencimentoID').siblings('span.error').css('visibility', 'hidden');
                }

                if (isNaN($('#NumeroPedido').val().trim())) {
                    isValidOrder = false;
                    $('#NumeroPedido').siblings('span.error').css('visibility', 'visible');
                    $('#NumeroPedido').focus();
                } else {
                    $('#NumeroPedido').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#OperacaoID').val().trim() == '') {
                    isValidOrder = false;
                    $('#OperacaoID').siblings('span.error').css('visibility', 'visible');
                    $('#OperacaoID').focus();
                } else {
                    $('#OperacaoID').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#FilialID').val().trim() == '') {
                    isValidOrder = false;
                    $('#FilialID').siblings('span.error').css('visibility', 'visible');
                    $('#FilialID').focus();
                } else {
                    $('#FilialID').siblings('span.error').css('visibility', 'hidden');
                }
                
                // Salvar
                if (isValidOrder) {                    
                    if (tpCons == 'LISTAGEM')
                    {
                        cadastroSelecionado = parseInt($('#CadastroID').val().trim());                        
                    }
                    var data = {                        
                        CadastroID: cadastroSelecionado,
                        PrazoVencimentoID: $('#PrazoVencimentoID').val().trim(),
                        VendedorID: $('#VendedorID').val().trim(),
                        TransportadorID: $('#TransportadorID').val().trim(),
                        TipoFrete: $('#TipoFrete').val().trim(),
                        OrdemCompra: $('#OrdemCompra').val().trim(),
                        Observacao: $('#Observacao').val().trim(),
                        NumeroPedido: $('#NumeroPedido').val().trim(),
                        OperacaoID: $('#OperacaoID').val().trim(),
                        CodEmpresa: '@(ViewBag.Empresa.CodEmpresa)',
                        FilialID: $('#FilialID').val().trim(),
                        Itens: pedidoItens
                    }

                    cadastroSelecionado = 0;

                    $(this).val('Por favor aguarde...');

                    $.ajax({
                        url: '/Pedido/SalvaPedido',
                        type: 'POST',
                        data: JSON.stringify(data),
                        datatype: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            // Checa se o pedido foi salvo no banco de dados
                            if (d.status == true) {
                                window.location.href = '/Pedido/Index';
                            }
                            else {
                                alert(d.errorMessage);
                            }

                        },
                        error: function () {
                            alert('Erro ao salvar pedido. Por favor tente novamente.');
                        }
                    })
                }
            })


            // Function for show added items in table
            function GeneratedItemsTable() {
                if (pedidoItens.length > 0) {
                    var $div = $('<div class="table-responsive"></div>');
                    var $table = $('<table class="table table-responsive table-striped"></table>');
                    $table.append('<tr><th>Produto</th><th></th><th>Quantidade</th><th>Desconto Unitário</th><th>Valor Unitário</th><th>ICMS ST</th><th>IPI</th><th></th></tr>');
                    //var $tbody = $('<tbody />');
                    $.each(pedidoItens, function (i, val) {
                        var $row = $('<tr/>');
                        $row.append($('<td/>').html(val.ProdutoID));
                        $row.append($('<td/>').html(val.DescProduto));
                        $row.append($('<td/>').html(val.Quantidade));
                        if (val.ValorDesconto == '')
                            $row.append($('<td/>').html('0,00'));
                        else
                            $row.append($('<td/>').html(parseFloat(val.ValorDesconto.trim().replace(',', '.')).toFixed(2).trim().replace('.', ',')));
                        
                        $row.append($('<td/>').html(val.ValorUnitario));
                        $row.append($('<td />').html(parseFloat(val.ValorIcmsSubst).toFixed(2).trim().replace('.', ',')));
                        $row.append($('<td />').html(parseFloat(val.ValorIPI).toFixed(2).trim().replace('.', ',')));
                        var $span = $('<span class="input-group-btn btn-group-sm" style="width:50px"/>');
                        $span.append($('<button id=editarItem class="btn btn-primary">' +
                            '<span class="glyphicon glyphicon-pencil" aria-hidden="true">' +
                                '</span></button>').click(function () {
                                    if (tpCons == 'FILTRO')
                                        $('#ProdutoAux').val(val.DescProduto).focus();
                                    else
                                        $('#ProdutoID').val(val.ProdutoID).focus();
                                    $('#Quantidade').val(val.Quantidade);
                                    $('#ValorUnitario').val(val.ValorUnitario);
                                    $('#ObservacaoItem').val(val.Observacao);
                                    $('#PercDesconto').val(val.percDesconto);
                                    $('#ValorDesconto').val(val.ValorDesconto);
                                    $('#ItemIndex').val(i);
                                    produtoSelecionado = val.ProdutoID;
                                    descProdutoSelecionado = val.DescProduto;
                        }));
                        $span.append($('<button id=excluir class="btn btn-danger">' +
                                '<span class="glyphicon glyphicon-remove" aria-hidden="true">' +
                                '</span></button>').click(function () {
                            pedidoItens.splice(i, 1);                            
                            GeneratedItemsTable();
                        }));
                        var $col = $('<td style="text-align:right"/>');
                        $col.append($span);
                        $row.append($col);
                        $table.append($row);
                    });
                    //$table.append($tbody);
                    $div.append($table);
                    $('#pedidoItens').html($div);
                }
                else {
                    $('#pedidoItens').html('');
                }

                calulaTotal();
                $('#totalPedido').show();
                if (isNaN(totalPedido)) {
                    $('#totalPedido').html(
                        '<p>'
                        + 'Total do Pedido R$: 0,00'
                        + '</p>'
                        );
                    
                } else {
                    var htmlST = '';
                    if (totalST != 0)
                        htmlST = "<p style='font-size: small'>ICMS ST R$: " + parseFloat(totalST).toFixed(2).trim().replace('.', ',') + "</p>";
                    else 
                        htmlST = '';     
                    
                    var htmlIPI = '';
                    if (totalIPI != 0)
                        htmlIPI = "<p style='font-size: small'>IPI R$: " + parseFloat(totalIPI).toFixed(2).trim().replace('.', ',') + "</p>";
                    else
                        htmlIPI = '';

                        $('#totalPedido').html(                        
                        htmlST
                        + htmlIPI
                        + '<p>'
                        + 'Total do Pedido R$: '
                        + parseFloat(totalPedido).toFixed(2).trim().replace('.', ',')
                        + '</p>'                        
                        );                    
                }
                totalPedido = 0;
            };

            // Mantém uma flag e desabilita botões enquanto
            // um processamento está sendo feito do lado do servidor
            function bloqueiaOperacoes(bloqueio) {
                $('#add').prop('disabled', bloqueio);
                $('#submit').prop('disabled', bloqueio);
                emOperacao = bloqueio;
            }
        });
    </script>
}