@model PedidoWeb.Models.Pedido

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="principal1coluna">
        <h2>Novo Pedido</h2>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CadastroID, "Cliente")
            @Html.DropDownList("CadastroID", null,string.Empty, new {@class = "form-control" })
            @Html.ValidationMessageFor(model => model.CadastroID)
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.PrazoVencimentoID, "Forma de Pagamento")
            @Html.DropDownList("PrazoVencimentoID", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PrazoVencimentoID)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VendedorID, "Vendedor")
            @Html.DropDownList("VendedorID", null, new {@disabled=true, @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VendedorID)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TransportadorID, "Transportador")
            @Html.DropDownList("TransportadorID", null, string.Empty, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TransportadorID)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoFrete)
            @Html.TextBoxFor(model => model.TipoFrete, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TipoFrete)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrdemCompra)
            @Html.TextBoxFor(model => model.OrdemCompra, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OrdemCompra)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observacao)
            @Html.TextBoxFor(model => model.Observacao, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Observacao)
        </div>

        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-primary">
                    Salvar
                </button>
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#VendedorID").prop("disabled", true);
    </script>
}
