@model PedidoWeb.Models.Pedido

@{
    ViewBag.Title = "Delete";
}

<div class="principal1coluna">
    <h3>Tem certeza que deseja excluir este pedido?</h3>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Código")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PedidoID)
        </dd>

        @if (Model.CodPedidoCab > 0)
        {
            <dt>
                @Html.DisplayName("Código Cemapa")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CodPedidoCab)
            </dd>
        }
        
        <dt>
            @Html.DisplayNameFor(model => model.Cadastro.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cadastro.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Prazo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrazoVencimento.Descricao)
        </dd>

        <dt>
            @Html.DisplayName("Transportador")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transportador.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Vendedor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.TipoFrete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoFrete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdemCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdemCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEmissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEmissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div>
                <input type="submit" value="Excluir" class="btn btn-danger" />
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
