@model PedidoWeb.Models.Pedido

@{
    ViewBag.Title = "Details";
}

<div class="principal1coluna">

    @if(ViewBag.Mensagem != null)
    {
        <div class="alert alert-info">
            @ViewBag.Mensagem
        </div> 
    }

    <h2>Informações</h2>
    <hr />

    @if (Model.Status == "EM ANALISE")
    {
        <div class="alert alert-warning">
            <h4>Este pedido está em análise</h4>
        </div>
        
        <div class="opcionais">
            @foreach(var motivo in (List<string>
                )ViewBag.MotivoStatus)
                {
                <h5>@motivo</h5>
                }
        </div>
        <br />
    }

    @if (Model.Status == "CANCELADO")
    {
        <h4 class="alert alert-danger">Este pedido está cancelado</h4>
    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Empresa")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Filial.DescFilial)
        </dd>

        <dt>
            @Html.DisplayName("Código")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PedidoID)
        </dd>

        @if (Model.CodPedidoCab > 0)
        {
            <dt>
                @Html.DisplayName("Código Cemapa")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CodPedidoCab)
            </dd>
        }


        <dt>
            @Html.DisplayNameFor(model => model.Operacao.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operacao.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cadastro.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cadastro.Nome)
        </dd>

        @if (Model.NumeroPedido != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.NumeroPedido)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NumeroPedido)
            </dd>
        }

        <dt>
            @Html.DisplayName("Prazo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrazoVencimento.Descricao)
        </dd>

        <dt>
            @Html.DisplayName("Transportador")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transportador.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Vendedor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoFrete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoFrete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdemCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdemCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEmissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEmissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

    </dl>

    @*<div>
            @Html.Action("ListaItens", "PedidoItem", new { id = Model.PedidoID })
        </div>*@

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayName("Item")
                </th>
                <th>
                    @Html.DisplayName("Qtde")
                </th>
                <th>
                    @Html.DisplayName("Valor Unitário")
                </th>
                <th>
                    @Html.DisplayName("% Desc")
                </th>
                <th>
                    @Html.DisplayName("Desc Unitário")
                </th>
                <th>
                    @Html.DisplayName("IPI")
                </th>
                <th>
                    @Html.DisplayName("ST")
                </th>
                <th>
                    @Html.DisplayName("Observação")
                </th>
            </tr>

            @foreach (var item in Model.Itens)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Produto.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorUnitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PercentualDesconto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorDesconto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorIPI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorIcmsSubst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
    </tr>
}
        </table>        
    </div>

    @{
        decimal teste = 0;
        decimal resST = 0;
        decimal resIPI = 0;
        decimal totalST = 0;
        decimal totalIPI = 0;
        foreach (var item in Model.Itens)
        {
            decimal valDesc = Convert.ToDecimal(item.ValorDesconto == null ? 0 : item.ValorDesconto);
            
            if(!decimal.TryParse(item.ValorIcmsSubst.ToString(), out resST))  
            {
                resST = 0;
            }          
                
            
            if(!decimal.TryParse(item.ValorIPI.ToString(), out resIPI))
            {
                resIPI = 0;
            }

            totalIPI += resIPI;
            totalST += resST;
            
            teste += (item.Quantidade * item.ValorUnitario)
                - (item.Quantidade * valDesc)
                + resST
                + resIPI;
            
        }
        <div id="TotalPedido" class="gridRodape">
            @if(totalST > 0)
            { 
                <p style="font-size: small">
                    @Html.Label(string.Format("ICMS ST R$ {0}", totalST.ToString("0.00")))
                </p>
            }
            @if(totalIPI > 0)
            { 
                <p style="font-size: small">
                    @Html.Label(string.Format("IPI R$ {0}", totalIPI.ToString("0.00")))
                </p>
            }
            <p>
                @Html.Label(string.Format("Total do Pedido R$ {0}", teste.ToString("0.00")))
            </p>
        </div>
        <br />
    }

    @{AjaxOptions ajaxOptions = new AjaxOptions()
      {
          UpdateTargetId = "HistoricoPedido",
          OnSuccess = "SuccessRequest",
          OnFailure = "FailureRequest",
          HttpMethod = "GET"
      };
    }

    @using (Ajax.BeginForm("HistoricoPedido", "Pedido", new { id=Model.PedidoID }, ajaxOptions))
    {   
        <button id="btHistorico" type="button" class="btn btn-info btn-sm" onclick="BuscaValor()">
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>            
                  Visualizar Histórico
        </button>
        <div id="msgAguarde" class="error">Aguarde...</div>
        <script type="text/javascript">

            var HistoricoList = [];

            function BuscaValor() {                                
                if ($('#btHistorico').html().indexOf('Visualizar Histórico') > 0) {                    
                    $('#btHistorico').html('<span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> Esconder Histórico')
                    $('#btHistorico').submit();
                    $('#msgAguarde').show();
                } else {
                    $('#btHistorico').html('<span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> Visualizar Histórico')
                    $('#historico').html('');
                }
            };            

            function SuccessRequest(json) {
                $('#msgAguarde').hide();
                HistoricoList = [];
                if (json.length > 0) {
                    $.each(json, function (id, data) {
                        HistoricoList.push({
                            HistoricoPedidoID: data.HistoricoPedidoID,
                            DataOperacao: data.DataOperacao,
                            UsuarioID: data.UsuarioID,
                            PedidoID: data.PedidoID,
                            PedidoItemID: data.PedidoItemID,
                            DescricaoItem: data.DescricaoItem,
                            NumeroPedido: data.NumeroPedido,
                            CampoAlterado: data.CampoAlterado,
                            ValorAntigo: data.ValorAntigo,
                            NovoValor: data.NovoValor,
                            Operacao: data.Operacao
                        });
                    });
                }                
                GenerateTable();
                //response(autoc);
            };

            function FailureRequest() {
                alert('Não foi possível obter o histórico do pedido')
            };

        </script>
    }

    <br />

    <div id="historico"></div>
    
    <br />
    @if (!string.IsNullOrEmpty(Model.Faturamento))
    {        
        <div id="faturamento" class="opcionais"> 
            <p>Emissão de NF-e</p> 
            <p style="font-size: small">
                @Model.Faturamento
            </p>
        </div>
        <br />
    }    

    <div class="form-group">
        <div>
            @if (Model.Status != "APROVADO" && Model.Status != "EM ANALISE")
            {
                @Html.ActionLink("Editar", "Edit", new { id = Model.PedidoID }, new { @class = "btn btn-primary disabled" })
                @Html.ActionLink("Excluir", "Delete", new { id = Model.PedidoID }, new { @class = "btn btn-danger disabled" })
            }
            else
            {
                @Html.ActionLink("Editar", "Edit", new { id = Model.PedidoID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Excluir", "Delete", new { id = Model.PedidoID }, new { @class = "btn btn-danger" })
            }

            @Html.ActionLink("Enviar por E-mail", "EnviaEmailPedido", new { id = Model.PedidoID }, new { @class = "btn btn-primary" })
          
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })

            @if (ViewBag.TipoUsuario == "ADMINISTRADOR" && Model.Status == "EM ANALISE")
            {
                @Html.ActionLink("Aceitar", "StatusPedido", new { id = Model.PedidoID, status = "APROVADO" }, new { @class = "btn btn-success" })
            }
            @if (ViewBag.TipoUsuario == "ADMINISTRADOR" && Model.Status == "EM ANALISE")
            {
                @Html.ActionLink("Recusar", "StatusPedido", new { id = Model.PedidoID, status = "CANCELADO" }, new { @class = "btn btn-danger" })
            }
        </div>
    </div>    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryui/stylesheet")
    
    <script>
        $('#msgAguarde').hide();
        String.prototype.lpad = function (padString, length) {
            var str = this;
            while (str.length < length)
                str = padString + str;
            return str;
        }

        function GenerateTable()
        {
            if(HistoricoList.length > 0)
            {                
                var $div = $('<div class="table-responsive"></div>');
                var $table = $('<table class="table table-striped"></table>');
                $table.append('<th></th>');                
                $.each(HistoricoList, function (i, val) {
                    var dataAux = String(val.DataOperacao).replace('\/Date(', '');
                    dataAux = dataAux.replace(')\/', '');
                    dataAux = dataAux.trim();
                    var dataAux1 = new Date(parseInt(dataAux));
                    var dataOperacao = dataAux1.getDate().toString().lpad('0', 2);
                    dataOperacao += '/' + (dataAux1.getMonth()+1).toString().lpad('0', 2); // Meses são retornados de 0 a 11 em javascript
                    dataOperacao += '/' + dataAux1.getFullYear();
                    //dataOperacao += ' às ';
                    //dataOperacao += dataAux1.getHours().toString().lpad('0', 2);
                    //dataOperacao += ':' + dataAux1.getMinutes().toString().lpad('0', 2);
                    //dataOperacao += ':' + dataAux1.getSeconds().toString().lpad('0', 2);                    

                    var $row = $('<tr/>');
                    
                    if (val.Operacao == 'SINCRONISMO') {
                        var $html = '<p><strong>';
                        $html += 'Pedido sincronizado com o Sistema Cemapa em ';
                        $html += dataOperacao;
                        $html += '</strong></p>';
                        //return true; // funciona como continue
                    } else {

                        var $html = '<p><strong>' + dataOperacao + ' - Usuário ' + val.UsuarioID + '</strong></p>';

                        if (val.Operacao == 'ADICAO') {
                            // Se foi adicionado um item novo
                            if (val.PedidoItemID != null && val.PedidoItemID != '')
                                $html += '<p>Adicionado ' + val.DescricaoItem + '</p>';
                            else
                                $html += '<p>Adição não processada pela View - HistoricoPedidoID ' + val.HistoricoPedidoID + '</p>';
                        }

                        if (val.Operacao == 'ALTERACAO' || val.Operacao == 'ALTERACAO_SISTEMA') {
                            // Se a alteração foi no item do pedido
                            if (val.PedidoItemID != null && val.PedidoItemID != '') {
                                if (val.CampoAlterado == 'Produto' || val.CampoAlterado == 'ProdutoID') {
                                    $html += '<p>';
                                    $html += '<strong>';
                                    $html += val.CampoAlterado;
                                    $html += ': </strong>';
                                    $html += val.ValorAntigo;
                                    $html += ' alterado para ';
                                    $html += val.NovoValor;
                                    $html += ' (';
                                    $html += val.DescricaoItem;
                                    $html += ')';
                                    $html += '</p>';
                                }
                                else {
                                    $html += '<p>';
                                    $html += '<strong>';
                                    $html += val.CampoAlterado;
                                    $html += ': </strong>';
                                    $html += val.ValorAntigo;
                                    $html += ' alterado para ';
                                    $html += val.NovoValor;
                                    $html += ' - ITEM: ';
                                    $html += val.DescricaoItem;
                                    $html += '</p>';
                                }
                            } else { // Se a alteração foi no cabeçalho do pedido                            
                                if ((val.ValorAntigo != '' && val.ValorAntigo != null) && (val.NovoValor != '' && val.NovoValor != null)) {
                                    $html += '<p>';
                                    $html += '<strong>';
                                    $html += val.CampoAlterado;
                                    $html += ': </strong>';
                                    $html += val.ValorAntigo;
                                    $html += ' alterado para ';
                                    $html += val.NovoValor;
                                    $html += '</p>';
                                } else
                                    if (val.NovoValor != '' && val.NovoValor != null) {
                                        $html += '<p>';
                                        $html += '<strong>';
                                        $html += val.CampoAlterado;
                                        $html += ': </strong>';
                                        $html += 'Adicionado ';
                                        $html += val.NovoValor;
                                        $html += '</p>';
                                    } else
                                        if (val.ValorAntigo != '' && val.ValorAntigo != null) {
                                            $html += '<p>';
                                            $html += '<strong>';
                                            $html += val.CampoAlterado;
                                            $html += ': </strong>';
                                            $html += 'Excluído ';
                                            $html += val.ValorAntigo;
                                            $html += '</p>';
                                        } else {
                                            $html += '<p>Alteração não processada pela View - HistoricoPedidoID ' + val.HistoricoPedidoID + '</p>';
                                        }
                            }
                        }
                        if (val.Operacao == 'EXCLUSAO' || val.Operacao == 'EXCLUSAO_SISTEMA') {
                            // Exclusão de item
                            if (val.PedidoItemID != null && val.PedidoItemID != '') {
                                $html += '<p>';
                                $html += 'Excluído ';
                                $html += val.DescricaoItem;
                                $html += '</p>';
                            }
                            else {
                                $html += '<p>';
                                $html += 'Exclusão não processada pela View - HistoricoPedidoID ';
                                $html += val.HistoricoPedidoID;
                                $html += '</p>';
                            }
                        }
                    }
                    $row.append($('<td/>').html(
                        $html                                    
                        ));                    
                    $table.append($row);
                });                
                
                $div.append($table);
                $('#historico').html($div);                
            }
            else {                
                $('#historico').html('<div>Este pedido não possui alterações</div>')
            }
        }
    </script>
}
