@model PedidoWeb.Models.Pedido

@{
    ViewBag.Title = "Editar";
}


@Html.AntiForgeryToken()
    
<div class="principal1coluna">
    <h3>Editar Pedido</h3>
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.PedidoID)
    @Html.HiddenFor(model => model.CodEmpresa)

    <div class="form-group">
        @Html.LabelFor(model => model.VendedorID, "Vendedor")
        @Html.DropDownList("VendedorID", null, new { @readonly = "readonly", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.VendedorID)
    </div>

    <div>
        @Html.Label("Número")
        @Html.TextBox("NumeroPedido", null, new { @class = "form-control" })
        <span class="error" style="visibility: hidden">Número inválido</span>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CadastroID, "Cliente")
        @Html.DropDownList("CadastroID", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CadastroID)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DataEmissao)
        @Html.TextBoxFor(model => model.DataEmissao, "{0:dd/MM/yyyy}", new { @readonly = "readonly", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DataEmissao)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PrazoVencimentoID, "Forma de Pagamento")
        @Html.DropDownList("PrazoVencimentoID", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PrazoVencimentoID)
    </div>       

    <div class="form-group">
        @Html.LabelFor(model => model.TransportadorID, "Transportador")
        @Html.DropDownList("TransportadorID", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TransportadorID)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TipoFrete)
        @Html.DropDownListFor(model => model.TipoFrete, 
            new List<SelectListItem>() { new SelectListItem(){Text="CIF", Value="CIF"}, 
                new SelectListItem(){Text="FOB", Value="FOB" }}, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TipoFrete)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OrdemCompra)
        @Html.TextBoxFor(model => model.OrdemCompra, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.OrdemCompra)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Status)
        @Html.TextBoxFor(model => model.Status, new { @readonly = "readonly", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Status)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Observacao)
        @Html.TextAreaFor(model => model.Observacao, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Observacao)
    </div>  
    <br />
    <div class="details">
        <h2>Itens do Pedido</h2>
        <hr />
        <br />

        @{AjaxOptions ajaxOptions = new AjaxOptions()
        {
            UpdateTargetId = "ValorUnitario",
            OnSuccess = "SuccessRequest",
            OnFailure = "FailureRequest",
            HttpMethod = "POST"
        };
        }

        @using (Ajax.BeginForm("ValorUnitario", "Pedido", ajaxOptions))
        {
            <div class="form-group">
                @Html.Label("Produto")                  
                @Html.DropDownList("ProdutoID", null, string.Empty, new { @class = "form-control", onchange = "buscaValor()" })
                <span class="error" style="visibility: hidden">Produto é obrigatório</span>
            </div>

            <script type="text/javascript">
                function buscaValor() {
                    $("#ProdutoID").submit();
                }

                function SuccessRequest(response) {
                    //alert(response);
                    $('#ValorUnitario').val(response);
                }

                function FailureRequest(response) {
                    alert("Não foi possível buscar o preço do produto");
                }
            </script>
        }

        <div class="form-group">
            @Html.Label("Quantidade")
            <input type="text" id="Quantidade" class="form-control" />
            <span class="error" style="visibility: hidden">Quantidade é obrigatória</span>
        </div>

        <div class="form-group">
            @Html.Label("Valor Unitário")
            <input type="text" id="ValorUnitario" name="ValorUnitario" class="form-control" />
            <span class="error" style="visibility: hidden">Valor Unitário é obrigatório</span>
        </div>

        <div class="form-group col-md-5" style="padding: 0 0 0 0">
            @Html.Label("Percentual de Desconto")
            <input type="text" id="PercDesconto" name="PercDesconto" class="form-control" />
            <span class="error" style="visibility: hidden">Percentual de desconto inválido</span>

        </div>
        <div class="form-group col-md-2">

        </div>
        <div class="form-group col-md-5" style="padding: 0 0 0 0">
            @Html.Label("Valor de Desconto")
            <input type="text" id="ValorDesconto" name="ValorDesconto" class="form-control" />
            <span class="error" style="visibility: hidden">Valor de desconto inválido</span>
        </div>

        <div class="clearfix"></div>

        <div class="form-group">
            @Html.Label("Observação do Item")
            <textarea id="ObservacaoItem" class="form-control"></textarea>
            <span class="error" style="visibility: hidden">Observação não pode ter mais de 30 caracteres</span>
        </div>
        
        <div class="col-md-6">
            @*<input type="button" id="add" value="Salvar Item" class="btn btn-default btn-group-justified" />*@
            <button type="button" id="add" class="btn btn-default btn-group-justified">
                <span class="glyphicon glyphicon-ok"></span>
                Salvar Item
            </button>
        </div>

        <div class="col-md-6">
            @*<input type="button" id="del" value="Cancelar Inclusão" class="btn btn-danger btn-group-justified" />*@
            <button type="button" id="del" class="btn btn-danger btn-group-justified">
                <span class="glyphicon glyphicon-remove"></span>
                Cancelar Item
            </button>
        </div>

        <div class="clearfix"></div>
        <br />        
        <div id="pedidoItens"></div>
        <div id="totalPedido"></div>
        <hr />
        <br />        
    </div>
    
    <div class="col-md-6">        
        <button type="button" id="submit" class="btn btn-primary btn-group-justified">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Salvar Pedido
        </button>
    </div>
    <div class="col-md-6">        
        <a href="@Url.Action("Index")" class="btn btn-danger btn-group-justified">
            <span class="glyphicon glyphicon-share-alt"></span>
            Sair sem Salvar
        </a>
    </div>
    <div class="clearfix"></div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")    
    @Scripts.Render("~/bundles/jqueryui");
    
    <script>
        $("document").ready(function () {
            
            $("#VendedorID").prop("disabled", true);
            $("#DataEmissao").prop("disabled", true);
            $("#Status").prop("disabled", true);

            var itens = @Html.Raw(Json.Encode(@Model.Itens));

            var produtos = @Html.Raw(Json.Encode(@ViewBag.ProdutoID));
            
            
            for(var i = 0; i < produtos.length; i++)
            {
                for(var j = 0; j < itens.length; j++)
                {
                    if(produtos[i].Value == itens[j].ProdutoID){
                        itens[j].DescProduto = produtos[i].Text;                        
                    }                    
                }                
            }                       

            var pedidoItens = itens;
            var totalPedido = 0;

            for(var i = 0; i < itens.length; i++)
            {
                totalPedido += Number(
                    Number(itens[i].Quantidade) 
                    * Number(itens[i].ValorUnitario) 
                    - Number(itens[i].Quantidade) 
                    * Number(itens[i].ValorDesconto)
                );           
            }

            GeneratedItemsTable(); 

            // Add desconto change function        
            $('#PercDesconto').change(function () {
                var percDesconto = Number($('#PercDesconto').val().replace(',','.'));
                var valUnitario = Number($('#ValorUnitario').val().replace(',','.'));
                                
                if (isNaN(percDesconto)) {
                    $('#PercDesconto').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#ValorDesconto').val(parseFloat(percDesconto * valUnitario / 100).toFixed(2).replace('.', ','));
                }
            })

            // Add  CancelaItem change function
            $('#del').click(function () {
                $('#ProdutoID').val('').focus();
                $('#Quantidade').val('');
                $('#ValorUnitario').val('');
                $('#ObservacaoItem').val('');
                $('#PercDesconto').val('');
                $('#ValorDesconto').val('');
            });

            // Add button click function
            $('#add').click(function () {
                // Validações
                var isValidItem = true;
                if ($('#ProdutoID').val().trim() == '') {
                    isValidItem = false;
                    $('#ProdutoID').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#ProdutoID').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#Quantidade').val().trim() == '' || isNaN($('#Quantidade').val().trim().replace(',', '.'))) {
                    isValidItem = false;
                    $('#Quantidade').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#Quantidade').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#ValorUnitario').val().trim() == '' || isNaN($('#ValorUnitario').val().trim().replace(',', '.'))) {
                    isValidItem = false;
                    $('#ValorUnitario').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#ValorUnitario').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#ObservacaoItem').val().length > 30) {
                    isValidItem = false;
                    $('#ObservacaoItem').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#ObservacaoItem').siblings('span.error').css('visibility', 'hidden');
                }

                if (isNaN($('#PercDesconto').val().trim().replace(',', '.'))) {
                    isValidItem = false;
                    $('#PercDesconto').siblings('span.error').css('visibility', 'visible');
                } else {
                    $('#PercDesconto').siblings('span.error').css('visibility', 'hidden');
                }

                // Add item to list if valid
                if (isValidItem) {
                    var el = document.getElementById('ProdutoID');
                    pedidoItens.push({
                        ProdutoID: $('#ProdutoID').val().trim(),
                        Quantidade: $('#Quantidade').val().trim(),
                        ValorUnitario: $('#ValorUnitario').val().trim(),
                        Observacao: $('#ObservacaoItem').val().trim(),
                        DescProduto: el.options[el.selectedIndex].text,
                        ValorDesconto : $('#ValorDesconto').val().trim(),
                        PercentualDesconto : $('#PercDesconto').val().trim()
                    });

                    $('#ProdutoID').val('').focus();
                    $('#Quantidade').val('');
                    $('#ValorUnitario').val('');
                    $('#ObservacaoItem').val('');
                    $('#PercDesconto').val('');
                    $('#ValorDesconto').val('');
                }
                GeneratedItemsTable();

            });

            // Save button click function
            $('#submit').click(function () {

                // Validação do pedido
                var isValidOrder = true;

                if ($('#CadastroID').val().trim() == '') {
                    isValidOrder = false;
                    $('#CadastroID').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#CadastroID').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#PrazoVencimentoID').val().trim() == '') {
                    isValidOrder = false;
                    $('#PrazoVencimentoID').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#PrazoVencimentoID').siblings('span.error').css('visibility', 'hidden');
                }

                if(isNaN($('#NumeroPedido').val().trim())) {
                    isValidOrder = false;
                    $('#NumeroPedido').siblings('span.error').css('visibility', 'visible');
                } else {
                    $('#NumeroPedido').siblings('span.error').css('visibility', 'hidden');
                }

                // Salvar
                if (isValidOrder) {
                    var data = {
                        PedidoID: $('#PedidoID').val().trim(),
                        CadastroID: $('#CadastroID').val().trim(),
                        PrazoVencimentoID: $('#PrazoVencimentoID').val().trim(),
                        VendedorID: $('#VendedorID').val().trim(),
                        TransportadorID: $('#TransportadorID').val().trim(),
                        TipoFrete: $('#TipoFrete').val().trim(),
                        OrdemCompra: $('#OrdemCompra').val().trim(),
                        Observacao: $('#Observacao').val().trim(),
                        DataEmissao: $('#DataEmissao').val().trim(),
                        CodEmpresa: $('#CodEmpresa').val().trim(),
                        Status: $('#Status').val().trim(),
                        NumeroPedido : $('#NumeroPedido').val().trim(),
                        Itens: pedidoItens
                    }

                    $(this).val('Por favor aguarde...');

                    $.ajax({
                        url: '/Pedido/SalvaPedido',
                        type: 'POST',
                        data: JSON.stringify(data),
                        datatype: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            // Checa se o pedido foi salvo no banco de dados
                            if (d.status == true) {
                                window.location.href = '/Pedido/Index';
                            }
                            else {
                                alert('Falha ao salvar o pedido');
                            }

                        },
                        error: function () {
                            alert('Erro ao salvar pedido. Por favor tente novamente.');
                        }
                    })
                }
            })


            // Function for show added items in table
            function GeneratedItemsTable() {   
                if (pedidoItens.length > 0) {
                    var $div = $('<div class="table-responsive"></div>');
                    var $table = $('<table class="table table-responsive table-striped"></table>');
                    $table.append('<thead><tr><th>Produto</th><th></th><th>Quantidade</th><th>Desconto Unitário</th><th>Valor Unitário</th><th></th></tr></thead>');
                    var $tbody = $('<tbody />');
                    $.each(pedidoItens, function (i, val) {
                        var $row = $('<tr/>');
                        $row.append($('<td/>').html(val.ProdutoID));
                        $row.append($('<td/>').html(val.DescProduto));
                        $row.append($('<td/>').html(val.Quantidade));            
                        if (val.ValorDesconto == null || val.ValorDesconto == '')
                            $row.append($('<td/>').html('0.00'));
                        else
                            $row.append($('<td/>').html(parseFloat(val.ValorDesconto).toFixed(2)));
                        $row.append($('<td/>').html(val.ValorUnitario));                        
                        $row.append($('<td><button id=excluir class="btn btn-danger">Excluir</button></td>').click(function(){
                            for(var i in pedidoItens)
                            {                                
                                if(pedidoItens[i].ProdutoID == val.ProdutoID
                                    && pedidoItens[i].Quantidade == val.Quantidade
                                    && pedidoItens[i].ValorUnitario == val.ValorUnitario
                                    && pedidoItens[i].Observacao == val.Observacao
                                    && pedidoItens[i].ValorDesconto == val.ValorDesconto)
                                {                                    
                                    pedidoItens.splice(i, 1);                                    
                                    totalPedido -= ((val.Quantidade
                                        * val.ValorUnitario)
                                        - (val.Quantidade 
                                        * val.ValorDesconto));                                    
                                    GeneratedItemsTable();
                                }
                            }
                        }));
                        $tbody.append($row);
                    });
                    $table.append($tbody);
                    $div.append($table);
                    $('#pedidoItens').html($div);
                }
                else{
                    $('#pedidoItens').html('');
                }

                if (isNaN(totalPedido)) {
                    $('#totalPedido').html(
                        '<p class="label label-default">'
                        + 'Total do Pedido R$: 0.00'
                        + '</p>'
                        );
                    totalPedido = 0;
                } else {
                    $('#totalPedido').html(
                        '<p class="label label-default">'
                        + 'Total do Pedido R$: '
                        + parseFloat(totalPedido).toFixed(2)
                        + '</p>'
                        );
                }
            }
        });

    </script>
}
