@model PedidoWeb.Models.Pedido

@{
    ViewBag.Title = "Editar";
}


@Html.AntiForgeryToken()
    
<div class="principal1coluna">
    <h3>Editar Pedido</h3>
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.PedidoID)
    @Html.HiddenFor(model => model.CodEmpresa)

    <div class="form-group">
        @Html.LabelFor(model => model.VendedorID, "Vendedor")
        @Html.DropDownList("VendedorID", null, new { @readonly = "readonly", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.VendedorID)
    </div>

    <div>
        @Html.Label("Número")
        @Html.TextBox("NumeroPedido", null, new { @class = "form-control" })
        <span class="error" style="visibility: hidden">Número inválido</span>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CadastroID, "Cliente")
        @Html.DropDownList("CadastroID", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CadastroID)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DataEmissao)
        @Html.TextBoxFor(model => model.DataEmissao, "{0:dd/MM/yyyy}", new { @readonly = "readonly", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DataEmissao)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PrazoVencimentoID, "Forma de Pagamento")
        @Html.DropDownList("PrazoVencimentoID", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PrazoVencimentoID)
    </div>       

    <div class="form-group">
        @Html.LabelFor(model => model.TransportadorID, "Transportador")
        @Html.DropDownList("TransportadorID", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TransportadorID)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TipoFrete)
        @Html.DropDownListFor(model => model.TipoFrete, 
            new List<SelectListItem>() { new SelectListItem(){Text="CIF", Value="CIF"}, 
                new SelectListItem(){Text="FOB", Value="FOB" }}, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TipoFrete)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OrdemCompra)
        @Html.TextBoxFor(model => model.OrdemCompra, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.OrdemCompra)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Status)
        @Html.TextBoxFor(model => model.Status, new { @readonly = "readonly", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Status)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Observacao)
        @Html.TextAreaFor(model => model.Observacao, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Observacao)
    </div>  
    <br />
    <div class="details">
        <h2>Itens do Pedido</h2>
        <hr />
        <br />

        @{AjaxOptions ajaxOptions = new AjaxOptions()
        {
            UpdateTargetId = "ValorUnitario",
            OnSuccess = "SuccessRequest",
            OnFailure = "FailureRequest",
            HttpMethod = "POST"
        };
        }

        @using (Ajax.BeginForm("ValorUnitario", "Pedido", ajaxOptions))
        {
            <div class="form-group">
                @Html.Label("Produto")                  
                @Html.DropDownList("ProdutoID", null, string.Empty, new { @class = "form-control", onchange = "buscaValor()" })
                <span class="error" style="visibility: hidden">Produto é obrigatório</span>
            </div>

            <script type="text/javascript">
                function buscaValor() {
                    $("#ProdutoID").submit();
                }

                function SuccessRequest(response) {
                    //alert(response);
                    $('#ValorUnitario').val(response);
                }

                function FailureRequest(response) {
                    alert("Não foi possível buscar o preço do produto");
                }
            </script>
        }

        <div class="form-group">
            @Html.Label("Quantidade")
            <input type="text" id="Quantidade" class="form-control" />
            <span class="error" style="visibility: hidden">Quantidade é obrigatória</span>
        </div>

        <div class="form-group">
            @Html.Label("Valor Unitário")
            <input type="text" id="ValorUnitario" name="ValorUnitario" class="form-control" />
            <span class="error" style="visibility: hidden">Valor Unitário é obrigatório</span>
        </div>

        <div class="form-group">
            @Html.Label("Observação do Item")
            <textarea id="ObservacaoItem" class="form-control"></textarea>
            <span class="error" style="visibility: hidden">Observação não pode ter mais de 30 caracteres</span>
        </div>

        <input type="button" id="add" value="Adicionar Item" class="btn btn-block" />
        <br />
        <div id="pedidoItens"></div>
        <br />
        <input type="button" id="submit" value="Salvar Pedido" class="btn btn-primary btn-group-justified" />
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")    
    @Scripts.Render("~/bundles/jqueryui");
    
    <script>
        $("document").ready(function () {
            
            $("#VendedorID").prop("disabled", true);
            $("#DataEmissao").prop("disabled", true);
            $("#Status").prop("disabled", true);

            var itens = @Html.Raw(Json.Encode(@Model.Itens));

            var produtos = @Html.Raw(Json.Encode(@ViewBag.ProdutoID));
            
            
            for(var i = 0; i < produtos.length; i++)
            {
                for(var j = 0; j < itens.length; j++)
                {
                    if(produtos[i].Value == itens[j].ProdutoID){
                        itens[j].DescProduto = produtos[i].Text;
                        
                    }
                }
            }
            

            var pedidoItens = itens;
            GeneratedItemsTable();            

            // Add button click function
            $('#add').click(function () {
                // Validações
                var isValidItem = true;
                if ($('#ProdutoID').val().trim() == '') {
                    isValidItem = false;
                    $('#ProdutoID').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#ProdutoID').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#Quantidade').val().trim() == '' || isNaN($('#Quantidade').val().trim().replace(',', '.'))) {
                    isValidItem = false;
                    $('#Quantidade').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#Quantidade').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#ValorUnitario').val().trim() == '' || isNaN($('#ValorUnitario').val().trim().replace(',', '.'))) {
                    isValidItem = false;
                    $('#ValorUnitario').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#ValorUnitario').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#ObservacaoItem').val().length > 30) {
                    isValidItem = false;
                    $('#ObservacaoItem').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#ObservacaoItem').siblings('span.error').css('visibility', 'hidden');
                }

                // Add item to list if valid
                if (isValidItem) {
                    var el = document.getElementById('ProdutoID');
                    pedidoItens.push({
                        ProdutoID: $('#ProdutoID').val().trim(),
                        Quantidade: $('#Quantidade').val().trim(),
                        ValorUnitario: $('#ValorUnitario').val().trim(),
                        Observacao: $('#ObservacaoItem').val().trim(),
                        DescProduto: el.options[el.selectedIndex].text
                    });

                    $('#ProdutoID').val('').focus();
                    $('#Quantidade').val('');
                    $('#ValorUnitario').val('');
                    $('#ObservacaoItem').val('');
                }
                GeneratedItemsTable();

            });

            // Save button click function
            $('#submit').click(function () {

                // Validação do pedido
                var isValidOrder = true;

                if ($('#CadastroID').val().trim() == '') {
                    isValidOrder = false;
                    $('#CadastroID').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#CadastroID').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#PrazoVencimentoID').val().trim() == '') {
                    isValidOrder = false;
                    $('#PrazoVencimentoID').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#PrazoVencimentoID').siblings('span.error').css('visibility', 'hidden');
                }

                // Salvar
                if (isValidOrder) {
                    var data = {
                        PedidoID: $('#PedidoID').val().trim(),
                        CadastroID: $('#CadastroID').val().trim(),
                        PrazoVencimentoID: $('#PrazoVencimentoID').val().trim(),
                        VendedorID: $('#VendedorID').val().trim(),
                        TransportadorID: $('#TransportadorID').val().trim(),
                        TipoFrete: $('#TipoFrete').val().trim(),
                        OrdemCompra: $('#OrdemCompra').val().trim(),
                        Observacao: $('#Observacao').val().trim(),
                        DataEmissao: $('#DataEmissao').val().trim(),
                        CodEmpresa: $('#CodEmpresa').val().trim(),
                        Status: $('#Status').val().trim(),
                        Itens: pedidoItens
                    }

                    $(this).val('Por favor aguarde...');

                    $.ajax({
                        url: '/Pedido/SalvaPedido',
                        type: 'POST',
                        data: JSON.stringify(data),
                        datatype: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            // Checa se o pedido foi salvo no banco de dados
                            if (d.status == true) {
                                window.location.href = '/Pedido/Index';
                            }
                            else {
                                alert('Falha ao salvar o pedido');
                            }

                        },
                        error: function () {
                            alert('Erro ao salvar pedido. Por favor tente novamente.');
                        }
                    })
                }
            })


            // Function for show added items in table
            function GeneratedItemsTable() {   
                if (pedidoItens.length > 0) {
                    var $div = $('<div class="table-responsive"></div>');
                    var $table = $('<table class="table table-responsive table-striped"></table>');
                    $table.append('<thead><tr><th>Produto</th><th></th><th>Quantidade</th><th>Valor</th><th></th></tr></thead>');
                    var $tbody = $('<tbody />');
                    $.each(pedidoItens, function (i, val) {
                        var $row = $('<tr/>');
                        $row.append($('<td/>').html(val.ProdutoID));
                        $row.append($('<td/>').html(val.DescProduto));
                        $row.append($('<td/>').html(val.Quantidade));
                        $row.append($('<td/>').html(val.ValorUnitario));                        
                        $row.append($('<td><button id=excluir class="btn btn-danger">Excluir</button></td>').click(function(){
                            for(var i in pedidoItens)
                            {                                
                                if(pedidoItens[i].ProdutoID == val.ProdutoID
                                    && pedidoItens[i].Quantidade == val.Quantidade
                                    && pedidoItens[i].ValorUnitario == val.ValorUnitario
                                    && pedidoItens[i].Observacao == val.Observacao)
                                {                                    
                                    pedidoItens.splice(i, 1);
                                    GeneratedItemsTable();
                                }
                            }
                        }));
                        $tbody.append($row);
                    });
                    $table.append($tbody);
                    $div.append($table);
                    $('#pedidoItens').html($div);
                }
                else{
                    $('#pedidoItens').html('');
                }
            }
        });

    </script>
}
