@using PagedList.Mvc;
@model PagedList.IPagedList<PedidoWeb.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<!-- Elementos da página devem estar dentro de um container -->
<!-- Barra lateral esquerda -->

<aside role="complementary" class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="menulateral">
            @*@Html.ActionLink("Novo Cadastro", "Create", "Cadastro")*@
            <a href="~/Pedido/Index">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                Pedido
            </a>
        </li>
        <li role="presentation" class="menulateral">
            <a href="~/Cadastro/Index">
                <span class="glyphicon glyphicon-user" aria-hidden="false"></span>
                Lista de Clientes
            </a>
        </li>
        <li role="presentation" class="menulateral">
            <a href="~/Produto/Index">
                <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                Lista de Produtos
            </a>
        </li>
    </ul>
    <br />
</aside>

@*<div class="col-md-1"></div>
<div class="col-md-4" style="padding-left: 0px; padding-right: 0px">
    @using (Html.BeginForm("Index", "Pedido", FormMethod.Get))
    {
        <div class="input-group" style="padding-left: 0px; padding-right: 0px">
            @Html.TextBox("SearchByDate", null, new
        {
            onchange = "$(this.form).submit();",
            placeholder = "Pesquisar por Data",
            @class = "form-control jqueryui-marker-datepicker"
        })
            <span class="input-group-btn">
                <input type="submit" value="Procurar" class="btn btn-default" />
            </span>
        </div>

    }
    <br />
</div>*@

<div role="main" class="col-md-10 principal">

    <br />
    
    <div>
        @using (Html.BeginForm("Index", "Pedido", FormMethod.Get))
        {
            <div class="input-group" style="padding-left: 0px; padding-right: 0px">
                @Html.TextBox("Search", null, new
        {
            onchange = "$(this.form).submit();",
            placeholder = "Pesquisar por Cliente, nº do Pedido ou Data",
            @class = "form-control"
        })
                <span class="input-group-btn">
                    <input type="submit" value="Procurar" class="btn btn-default" />
                </span>
            </div>
        }
        

    </div>

    <h2>Pedidos</h2>
    <br>
    
    @*@Html.ActionLink("Novo Pedido", "Create", null, new { @class = "btn btn-primary btn-group-justified" })*@
    <a href="@Url.Action("Create")" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        Novo Pedido
    </a>
    
    <div>
        <p style="text-align: right">
            <br />
            Legendas:&nbsp;
            <label class="text-info">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info&nbsp;
            </label>
            <label class="text-primary">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar&nbsp;
            </label>
            <label class="text-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Excluir
            </label>
        </p>
    </div>
    <div class="table-responsive">
        <table class="table table-responsive table-striped">
            <tr class="cabecalho-tabela">
                <th>
                    @Html.DisplayNameFor(model => model[0].Status)
                </th>

                <th>
                    @Html.DisplayName("Código")
                </th>

                <th>
                    @Html.DisplayName("Cliente")
                </th>                

                <th>
                    @Html.DisplayName("Emissão")
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PedidoID)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Cadastro.Nome)
                    </td>                    

                    <td>
                        @Html.DisplayFor(modelItem => item.DataEmissao)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Details", new { id = item.PedidoID }, new { @class = "btn btn-info glyphicon glyphicon-info-sign" })
                        @Html.ActionLink(" ", "Edit", new { id = item.PedidoID }, new { @class = "btn btn-primary glyphicon glyphicon-pencil" })
                        @Html.ActionLink(" ", "Delete", new { id = item.PedidoID }, new { @class = "btn btn-danger glyphicon glyphicon-remove" })
                    </td>
                </tr>
            }

        </table>
    </div>

    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
<div class="clearfix"></div>