@using PagedList.Mvc;
@model PagedList.IPagedList<PedidoWeb.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<!-- Elementos da página devem estar dentro de um container -->
<!-- Barra lateral esquerda -->

<aside role="complementary" class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="menulateral">
            @*@Html.ActionLink("Novo Cadastro", "Create", "Cadastro")*@
            <a href="~/Pedido/Index">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                Pedido
            </a>
        </li>
        <li role="presentation" class="menulateral">
            <a href="~/Cadastro/Index">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="false"></span>
                Lista de Clientes
            </a>
        </li>
        <li role="presentation" class="menulateral">
            <a href="~/Produto/Index">
                <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                Lista de Produtos
            </a>
        </li>
        @if(ViewBag.TipoUsuario == "MASTER")
        {
            <li role="presentation" class="menulateral">
                <a href="~/Usuario/Index">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Usuário
                </a>
            </li>
            
            <li role="presentation" class="menulateral">
                <a href="~/Empresa/Index">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Config. Empresa
                </a>
            </li>
        }
        else
        if(ViewBag.TipoUsuario == "ADMINISTRADOR")
        {
            <li role="presentation" class="menulateral">
                <a href=@ViewBag.UrlConfUsuario>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Usuário
                </a>
            </li>
            
            <li role="presentation" class="menulateral">
                <a href=@ViewBag.UrlConfEmpresa>                    
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Config. Empresa
                </a>
            </li>
        }
        else
        {
            <li role="presentation" class="menulateral">
                <a href=@ViewBag.UrlConfUsuario>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Usuário
                </a>
            </li>
        }
    </ul>
    <br />
</aside>

@*<div class="col-md-1"></div>
<div class="col-md-4" style="padding-left: 0px; padding-right: 0px">
    @using (Html.BeginForm("Index", "Pedido", FormMethod.Get))
    {
        <div class="input-group" style="padding-left: 0px; padding-right: 0px">
            @Html.TextBox("SearchByDate", null, new
        {
            onchange = "$(this.form).submit();",
            placeholder = "Pesquisar por Data",
            @class = "form-control jqueryui-marker-datepicker"
        })
            <span class="input-group-btn">
                <input type="submit" value="Procurar" class="btn btn-default" />
            </span>
        </div>

    }
    <br />
</div>*@

<div role="main" class="col-md-10 principal">

    <br />
    
    @if (@ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Message            
        </div>        
    }
    
    <div>
        @using (Html.BeginForm("Index", "Pedido", FormMethod.Get))
        {
            <div class="input-group" style="padding-left: 0px; padding-right: 0px">            
                @Html.TextBox("Search", null, new
                {
                    //onchange = "$(this.form).submit();",
                    placeholder = "Pesquisar por Cliente, nº do Pedido ou Data",
                    @class = "form-control"
                })
                <span class="input-group-btn">
                    <button type="submit" value="Procurar" class="btn btn-default" aria-label="Procurar" >
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>                
                
                <span class="input-group-btn">
                    @*<span class="" aria-hidden="true"></span>*@                    
                    @*<input type="button" value="..." class="btn btn-block" style="width:300px" onclick="toggleDiv('opcionais')" />*@
                    <button type="button" class="btn btn-primary" aria-label="Filtros" @*style="background-color: #003366; color: white"*@ onclick="toggleDiv('opcionais')">
                        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>                        
                    </button>
                </span>
            </div>
            <div class="opcionais" id="opcionais">
                <h4 style="text-align:center">Mais Opções de Pesquisa</h4>
                
                @if (ViewBag.TipoUsuario != "VENDEDOR")
                {
                    <h3>Vendedor</h3>
                    @Html.TextBox("Vendedor", null, new
                    {
                        placeholder = "Nome do vendedor",
                        @class = "form-control"
                    })
                }
                <br />                
                @if (ViewBag.TipoUsuario == "MASTER")
                {
                    <h3>Empresa</h3>
                    @Html.TextBox("Empresa", null, new
                    {
                        placeholder = "Código da Empresa",
                        @class = "form-control"
                    })
                }
                <br />
                <h4>Cidade do cliente</h4>

                @Html.TextBox("CidadeCliente", null, new
                    {
                        placeholder = "Cidade do cliente",
                        @class = "form-control"
                    })
                <br />
                <h4>Situação do pedido</h4>
                <div style="display: block" class="radio form-control">
                    <label><input type="radio" name="status" value="Aprovado" />APROVADO</label>
                </div>
                <div style="display: block" class="radio form-control">
                    <label><input type="radio" name="status" value="Em Analise" />EM ANÁLISE</label>
                </div>
                <div style="display: block" class="radio form-control">
                    <label><input type="radio" name="status" value="Em Embarque" />EM EMBARQUE</label>
                </div>
                <div style="display: block" class="radio form-control">
                    <label><input type="radio" name="status" value="Faturado" />FATURADO</label>
                </div>
                <br />                
                <h4>Período</h4>
                <div class="col-md-2 margem-zero">
                    @Html.TextBox("DataIni", null, new { @class = "form-control" }) 
                </div>
                <div class="col-md-1 margem-zero" style="text-align:center">
                    até
                </div>
                <div class="col-md-2 margem-zero">
                    @Html.TextBox("DataFin", null, new { @class = "form-control" })
                </div>
            
                <div class="clearfix"></div>
            
                <div class="col-md-5 margem-zero" style="text-align:center">
                    <br />
                    @*<input type="submit" value="Procurar" onclick="mostraMsgAguarde()" class="btn btn-primary" style="width:100%" />*@
                    <button type="submit" value="Procurar" onclick="mostraMsgAguarde()" class="btn btn-primary" style="width:100%">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Procurar
                    </button>
                </div>

                <div class="clearfix"></div>
            
                <div id="MsgAguarde">
                    <h3>Aguarde...</h3>
                </div>
            </div>
        }
        

    </div>

    <h2>Pedidos</h2>
    <br>
    
    @*@Html.ActionLink("Novo Pedido", "Create", null, new { @class = "btn btn-primary btn-group-justified" })*@
    <a href="@Url.Action("Create")" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        Novo Pedido
    </a>
    <br />
    <div id="mensagemFiltro">
        <br />
        <div class="opcionais">
            <h3>Filtrando por</h3>
            <ul>
                @if (!string.IsNullOrEmpty(ViewBag.Status))
                {
                    <li>
                        Status
                        @ViewBag.Status
                    </li>
                }
                @if (!string.IsNullOrEmpty(ViewBag.Vendedor))
                {
                   <li>
                        Vendedor
                        @ViewBag.Vendedor
                    </li> 
                }
                @if (!string.IsNullOrEmpty(ViewBag.Empresa))
                {
                    <li>
                        Empresa
                        @ViewBag.Empresa
                    </li>
                }
                @if (!string.IsNullOrEmpty(ViewBag.CidadeCliente))
                {
                    <li>
                        Cidade do cliente
                        @ViewBag.CidadeCliente
                    </li>
                }
                @if (!string.IsNullOrEmpty(ViewBag.DataInicial) && !string.IsNullOrEmpty(ViewBag.DataFinal))
                {
                    <li>
                        Período
                        @ViewBag.DataInicial
                        até
                        @ViewBag.DataFinal
                    </li>
                }
            </ul>
            @using(Html.BeginForm("Index", "Pedido", FormMethod.Get))
            {
                <button type="submit" id="RemoveFiltro" name="RemoveFiltro" class="btn btn-default btn-sm" onclick="removeFiltros()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Remover Filtros
                </button>
            }
        </div>
    </div>
    
    <div>
        <p style="text-align: right">
            <br />
            Legendas:&nbsp;
            <label class="text-info">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info&nbsp;
            </label>
            <label class="text-primary">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar&nbsp;
            </label>
            <label class="text-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Excluir
            </label>
        </p>
    </div>
    <div class="table-responsive">
        <table class="table table-responsive table-striped" id="tablePedidos">
            <tr class="cabecalho-tabela">
                <th>
                    @Html.DisplayNameFor(model => model[0].Status)
                </th>

                <th>
                    @Html.DisplayName("Código")
                </th>

                <th>
                    @Html.DisplayName("Cliente")
                </th>                

                <th>
                    @Html.DisplayName("Emissão")
                </th>

                @if(ViewBag.TipoUsuario == "MASTER")
                {
                    <th>
                        @Html.DisplayName("Empresa")
                    </th>
                }
                
                @if(ViewBag.TipoUsuario == "ADMINISTRADOR")
                {
                    <th>
                        @Html.DisplayName("Vendedor")
                    </th>
                }              
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="cursor-hover" onclick="location.href = '@(Url.Action("Details", "Pedido", new { id = item.PedidoID }))'">
                        @if (item.Status == "EM ANALISE")
                        {
                            <div class="label label-warning">
                                @Html.DisplayFor(modelItem => item.Status)
                            </div>
                        }
                        else
                            if (item.Status == "CANCELADO")
                            {
                                <div class="label label-danger">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </div>
                            }
                            else
                                if (item.Status == "EM EMBARQUE")
                                {
                                    <div class="label label-default">
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </div>
                                }
                                else
                                    if (item.Status == "APROVADO")
                                    {
                                        <div class="label label-primary">
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="label label-success">
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </div>
                                    }

                    </td>

                    <td class="cursor-hover" onclick="location.href = '@(Url.Action("Details", "Pedido", new { id = item.PedidoID }))'">
                        @Html.DisplayFor(modelItem => item.PedidoID)
                    </td>

                    <td class="cursor-hover" onclick="location.href = '@(Url.Action("Details", "Pedido", new { id = item.PedidoID }))'">
                        @Html.DisplayFor(modelItem => item.Cadastro.Nome)
                    </td>

                    <td class="cursor-hover" onclick="location.href = '@(Url.Action("Details", "Pedido", new { id = item.PedidoID }))'">
                        @Html.DisplayFor(modelItem => item.DataEmissao)
                    </td>
                    
                    @if (ViewBag.TipoUsuario == "MASTER")
                    {
                        <td class="cursor-hover" onclick="location.href = '@(Url.Action("Details", "Pedido", new { id = item.PedidoID }))'">
                            @Html.DisplayFor(modelItem => item.CodEmpresa)
                        </td>
                    }
                    
                    @if (ViewBag.TipoUsuario == "ADMINISTRADOR")
                    {
                        <td class="cursor-hover" onclick="location.href = '@(Url.Action("Details", "Pedido", new { id = item.PedidoID }))'">
                            @Html.DisplayFor(modelItem => item.Vendedor.CodVendedor)
                        </td>
                    }
                    <td>
                        @if (item.Status != "APROVADO" && item.Status != "EM ANALISE")
                        {
                            @Html.ActionLink(" ", "Details", new { id = item.PedidoID }, new { @class = "btn btn-info glyphicon glyphicon-info-sign" })
                            @Html.ActionLink(" ", "Edit", new { id = item.PedidoID }, new { @class = "btn btn-primary glyphicon glyphicon-pencil disabled" })
                            @Html.ActionLink(" ", "Delete", new { id = item.PedidoID }, new { @class = "btn btn-danger glyphicon glyphicon-remove disabled" })
                        }
                        else
                        {
                            @Html.ActionLink(" ", "Details", new { id = item.PedidoID }, new { @class = "btn btn-info glyphicon glyphicon-info-sign" })
                            @Html.ActionLink(" ", "Edit", new { id = item.PedidoID }, new { @class = "btn btn-primary glyphicon glyphicon-pencil" })
                            @Html.ActionLink(" ", "Delete", new { id = item.PedidoID }, new { @class = "btn btn-danger glyphicon glyphicon-remove" })
                        }
                    </td>
                </tr>
            }

        </table>
    </div>

    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index"
        , new { page, sortOrder = ViewBag.CurrentSort
                    , currentFilter = ViewBag.CurrentFilter
                    , status = ViewBag.Status
                    , DataIni = ViewBag.DataInicial
                    , DataFin = ViewBag.DataFinal
                    , Vendedor = ViewBag.Vendedor
                    , Empresa = ViewBag.Empresa
                    , CidadeCliente = ViewBag.CidadeCliente
              }
    ))
</div>
<div class="clearfix"></div>

@section Scripts{
    
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryui/stylesheet")

    <script type="text/javascript">        

        function toggleDiv(divid) {
            var div = document.getElementById(divid);
            var disp = div.style.display;
            div.style.display = disp == 'none' ? 'block' : 'none';            
        };

        function mostraMsgAguarde() {   
            $('#MsgAguarde').show();
        };

        $("document").ready(function () {
            var numero = false;
            $('#DataIni').keyup(function (e) {                
                if($('#DataIni').val().length > 10)
                {
                    $('#DataIni').val($('#DataIni').val().substr(0,10));
                }
                else
                {
                    //if(!isNaN(parseInt($('#DataIni').val().substr($('#DataIni').val().length - 1, 1))))                    
                    //{                   
                        if(parseInt($('#DataIni').val().substr($('#DataIni').val().length - 1, 1)) == 0
                            || parseInt($('#DataIni').val().substr($('#DataIni').val().length - 1, 1)) == 1
                            || parseInt($('#DataIni').val().substr($('#DataIni').val().length - 1, 1)) == 2
                            || parseInt($('#DataIni').val().substr($('#DataIni').val().length - 1, 1)) == 3
                            || parseInt($('#DataIni').val().substr($('#DataIni').val().length - 1, 1)) == 4
                            || parseInt($('#DataIni').val().substr($('#DataIni').val().length - 1, 1)) == 5
                            || parseInt($('#DataIni').val().substr($('#DataIni').val().length - 1, 1)) == 6
                            || parseInt($('#DataIni').val().substr($('#DataIni').val().length - 1, 1)) == 7
                            || parseInt($('#DataIni').val().substr($('#DataIni').val().length - 1, 1)) == 8
                            || parseInt($('#DataIni').val().substr($('#DataIni').val().length - 1, 1)) == 9)
                        {
                            if(($('#DataIni').val().length == 2 || $('#DataIni').val().length == 5) && e.which != 8 /*backspace*/)
                            {
                                //alert($('#DataIni').val().substr($('#DataIni').val().length - 1, 1).toString());
                                $('#DataIni').val($('#DataIni').val() + '/');
                                numero = true;
                            }
                            // Joga o foco para a data final
                            if ($('#DataIni').val().length == 10 && e.which != 37 && e.which != 39 && e.which != 9 && e.which != 16) {
                                //alert(e.which);
                                $('#DataFin').focus();
                            }
                        } else {
                            if(!numero)
                                $('#DataIni').val($('#DataIni').val().substr($('#DataIni').val().length - 2, 0));
                            numero = false;
                        }                        
                    //} 
                }
            });


            $('#DataFin').keyup(function (e) {                
                if($('#DataFin').val().length > 10)
                {
                    $('#DataFin').val($('#DataFin').val().substr(0,10));
                }
                else
                {
                    if(!isNaN(parseInt($('#DataFin').val().substr($('#DataFin').val().length - 1, 1))))
                    {                   
                        if(parseInt($('#DataFin').val().substr($('#DataFin').val().length - 1, 1)) == 0
                            || parseInt($('#DataFin').val().substr($('#DataFin').val().length - 1, 1)) == 1
                            || parseInt($('#DataFin').val().substr($('#DataFin').val().length - 1, 1)) == 2
                            || parseInt($('#DataFin').val().substr($('#DataFin').val().length - 1, 1)) == 3
                            || parseInt($('#DataFin').val().substr($('#DataFin').val().length - 1, 1)) == 4
                            || parseInt($('#DataFin').val().substr($('#DataFin').val().length - 1, 1)) == 5
                            || parseInt($('#DataFin').val().substr($('#DataFin').val().length - 1, 1)) == 6
                            || parseInt($('#DataFin').val().substr($('#DataFin').val().length - 1, 1)) == 7
                            || parseInt($('#DataFin').val().substr($('#DataFin').val().length - 1, 1)) == 8
                            || parseInt($('#DataFin').val().substr($('#DataFin').val().length - 1, 1)) == 9)
                        {
                            if(($('#DataFin').val().length == 2 || $('#DataFin').val().length == 5) && e.which != 8 /*backspace*/)
                            {
                                //alert($('#DataIni').val().substr($('#DataIni').val().length - 1, 1).toString());
                                $('#DataFin').val($('#DataFin').val() + '/');
                                numero = true;
                            }                    
                        }                        
                    } else {
                        if(!numero)
                            $('#DataFin').val($('#DataFin').val().substr($('#DataFin').val().length - 2, 0));
                        numero = false;
                    }
                }
            });            
            
            $('#opcionais').hide();
            $('#MsgAguarde').hide();
            
            var filtroStatus = '@(ViewBag.Status)';
            var filtroDtIni = '@ViewBag.DataInicial';
            var filtroDtFin = '@ViewBag.DataFinal';
            var filtroVendedor = '@ViewBag.Vendedor';
            var filtroEmpresa = '@ViewBag.Empresa';
            var filtroCidadeCliente = '@ViewBag.CidadeCliente';
            if (filtroStatus != '' || (filtroDtIni != '' && filtroDtFin != '') || filtroVendedor != '' || filtroEmpresa != '' ||
                filtroCidadeCliente != '') {
                $('#mensagemFiltro').show();                
            }
            else {
                $('#mensagemFiltro').hide();                
            }
            
        });

    </script>
}