@using PagedList.Mvc;
@model PagedList.IPagedList<PedidoWeb.Models.Produto>

@{
    ViewBag.Title = "Produto";
}

<aside role="complementary" class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="menulateral">
            <a href="~/Pedido/Index">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                Pedido
            </a>
        </li>
        <li role="presentation" class="menulateral">
            <a href="~/Cadastro/Index">
                <span class="glyphicon glyphicon-user" aria-hidden="false"></span>
                Lista de Clientes
            </a>
        </li>
        <li role="presentation" class="menulateral">
            <a href="~/Produto/Index">
                <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                Lista de Produtos
            </a>
        </li>
        @if (ViewBag.TipoUsuario == "MASTER")
        {
            <li role="presentation" class="menulateral">
                <a href="~/Usuario/Index">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Usuário
                </a>
            </li>

            <li role="presentation" class="menulateral">
                <a href="~/Empresa/Index">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Config. Empresa
                </a>
            </li>
        }
        else
        if (ViewBag.TipoUsuario == "ADMINISTRADOR")
        {
            <li role="presentation" class="menulateral">
                <a href=@ViewBag.UrlConfEmpresa>
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Config. Empresa
                </a>
            </li>
        }
    </ul>
    <br />
</aside>

<div role="main" class="col-md-10 principal">
    <br />
    <div>
        @using (Html.BeginForm("Index", "Produto", FormMethod.Get))
        {
            <div class="input-group margem-zero">
                @Html.TextBox("Search", null, new
            {
                placeholder = "Pesquisar por Nome",
                @class = "form-control"
            })

                <span class="input-group-btn">
                    <input type="submit" value="Procurar" class="btn btn-default" />
                </span>
            </div>
        }
    </div>
 
    <h2>Produtos</h2>
    
    <p>
        @*@Html.ActionLink("Novo Cadastro", "Create", null, new { @class = "btn btn-primary btn-group-justified" })*@
    </p>
    <div>
        <p style="text-align: right">
            Legendas:&nbsp;
            <label class="text-info">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Informações&nbsp;
            </label>
        </p>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Descricao)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model[0].UnidadeMedida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].PrecoVarejo)
                </th>            
                <th>
                    @Html.DisplayNameFor(model => model[0].Situacao)
                </th>    
                
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.UnidadeMedida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecoVarejo)
                    </td>                   
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Situacao)
                    </td>

                    <td>
                        @Html.ActionLink(" ", "Details", new { id = item.ProdutoID }, new { @class = "btn btn-info glyphicon glyphicon-info-sign" })
                    </td>
                </tr>
            }

        </table>
    </div>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
<div class="clearfix"></div>