@model IEnumerable<PedidoWeb.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<aside role="complementary" class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="menulateral">
            <a href="~/Pedido/Index">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                Pedido
            </a>
        </li>
        <li role="presentation" class="menulateral">
            <a href="~/Cadastro/Index">
                <span class="glyphicon glyphicon-user" aria-hidden="false"></span>
                Lista de Clientes
            </a>
        </li>
        <li role="presentation" class="menulateral">
            <a href="~/Produto/Index">
                <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                Lista de Produtos
            </a>
        </li>
    </ul>
    <br />
</aside>

<div class="col-md-10 margem-zero">
    @using (Html.BeginForm("Index", "Produto", FormMethod.Get))
    {
        <div class="input-group margem-zero">
            @Html.TextBox("Search", null, new
            {
                placeholder = "Pesquisar por Nome",
                @class = "form-control"
            })

            <span class="input-group-btn">
                <input type="submit" value="Procurar" class="btn btn-default" />
            </span>
        </div>
    }
    <br />
</div>

<div role="main" class="col-md-10 principal">
    <h2>Produtos</h2>
    <br>
    <p>
        @*@Html.ActionLink("Novo Cadastro", "Create", null, new { @class = "btn btn-primary btn-group-justified" })*@
    </p>
    <div>

        <p style="text-align: right">
            Legendas:&nbsp;
            <label class="text-info">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Informações&nbsp;
            </label>
        </p>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PercDescontoMaximo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnidadeMedida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecoVarejo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Situacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CodProduto)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PercDescontoMaximo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnidadeMedida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecoVarejo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Situacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodProduto)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Details", new { id = item.ProdutoID }, new { @class = "btn btn-info glyphicon glyphicon-info-sign" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>