@model PedidoWeb.Models.Empresa

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="principal1coluna">
        <h3>Nova Empresa</h3>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodEmpresa, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.CodEmpresa, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CodEmpresa)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FilialID)
            @Html.DropDownList("FilialID", null, string.Empty, new { @class="form-control"})
            @Html.ValidationMessageFor(model => model.FilialID)

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OperacaoPadrao, new { @class="control-label"})
            @Html.DropDownList("OperacaoPadrao", null, string.Empty, new { @class = "form-control"})
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrazoVencimentoPadrao, new { @class = "control-label" })
            @Html.DropDownList("PrazoVencimentoPadrao", null, string.Empty, new { @class = "form-control" })
        </div>

        <br />
        <div class="form-group">
            <p>
                @Html.CheckBoxFor(model => model.AlteraValorUnitario)
                @Html.LabelFor(model => model.AlteraValorUnitario)
                @Html.ValidationMessageFor(model => model.AlteraValorUnitario)
            </p>
            <p>
                @Html.CheckBoxFor(model => model.DescontoInformado)
                @Html.LabelFor(model => model.DescontoInformado)
                @Html.ValidationMessageFor(model => model.DescontoInformado)
            </p>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TipoPesquisaProduto)
            @Html.DropDownList("TipoPesquisaProduto",
                new List<SelectListItem>()
                {
                    new SelectListItem(){Text="Descrição ou Cód. Produto", Value="PRODUTO"}
                    , new SelectListItem(){Text="Descrição do Produto ou Núm. Fabricante", Value="FABRICANTE"}
                }
                , new { @class = "form-control" }
            )
            @Html.ValidationMessageFor(model => model.TipoPesquisaProduto)
        </div>



        <div class="clearfix"></div>
        <br />

        <div class="form-group">            
            <input type="submit" value="Create" class="btn btn-primary" />  
            @Html.ActionLink("Voltar", "Index", "Pedido", null, new { @class="btn btn-default"})         
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
