@model PedidoWeb.Models.Empresa

@{
    ViewBag.Title = "Details";
}

<div class="principal1coluna">
    <h3>Informações</h3>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodEmpresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescontoInformado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescontoInformado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlteraValorUnitario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlteraValorUnitario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoPesquisaProduto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoPesquisaProduto)
        </dd>

    </dl>
    <br />
    <div>
        @Html.ActionLink("Editar", "Edit", new { id = Model.CodEmpresa }, new { @class="btn btn-primary"}) 
        @Html.ActionLink("Voltar", "Index", null, new { @class="btn btn-default"})
    </div>
</div>

