@model PedidoWeb.Models.Usuario

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="principal1coluna">
        <h3>Editar Usuario</h3>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UsuarioID)

        <div class="form-group">
            @Html.LabelFor(model => model.Login)            
            @Html.TextBoxFor(model => model.Login, new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.Login)            
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Senha)            
            @Html.PasswordFor(model => model.Senha, new{ @class = "form-control"})
            @Html.ValidationMessageFor(model => model.Senha)            
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoUsuario)            
            @Html.TextBoxFor(model => model.TipoUsuario, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TipoUsuario)
            
        </div>

        <div class="form-group">
            @Html.Label("Vendedor")            
            @*@Html.DropDownList("VendedorID", (IEnumerable<SelectListItem>)ViewBag.VendedorID
                , string.Empty, new{ @class = "form-control"})*@
            @Html.DropDownList("VendedorID", null, string.Empty, new { @class="form-control"})
            @Html.ValidationMessageFor(model => model.VendedorID)            
        </div>

        <div class="form-group">            
            <input type="submit" value="Salvar" class="btn btn-primary" />
            @Html.ActionLink("Voltar", "Index", null, new {@class="btn btn-default"})            
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
