@model PedidoWeb.Models.Cadastro

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="principal1coluna">
        <h3>Editar Cadastro</h3>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CadastroID)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome)
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fantasia)
            @Html.TextBoxFor(model => model.Fantasia, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Fantasia)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PercDescontoMaximo)
            @Html.TextBoxFor(model => model.PercDescontoMaximo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PercDescontoMaximo)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CpfCnpj)
            @Html.TextBoxFor(model => model.CpfCnpj, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CpfCnpj)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            <div class="input-group">

                @Html.TextBoxFor(model => model.Email, new
               {
                   @class = "form-control long-textbox",
                   placeholder = "email@exemplo.com.br"

               })
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-envelope"></i>
                </span>

            </div>
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Situacao)
            @Html.TextBoxFor(model => model.Situacao, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Situacao)
        </div>

        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-primary">
                    Salvar
                </button>
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
