@using PagedList.Mvc;
@model PagedList.IPagedList<PedidoWeb.Models.Cadastro>

@{
    ViewBag.Title = "Cadastro";
}

<!-- Elementos da página devem estar dentro de um container -->
<!-- Barra lateral esquerda -->
<aside role="complementary" class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="menulateral">            
            <a href="~/Pedido/Index">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                Pedido
            </a>
        </li>
        <li role="presentation" class="menulateral">
            <a href="~/Cadastro/Index">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="false"></span>
                Lista de Clientes
            </a>
        </li>
        <li role="presentation" class="menulateral">
            <a href="~/Produto/Index">
                <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                Lista de Produtos
            </a>
        </li>
        @if (ViewBag.TipoUsuario == "MASTER")
        {
            <li role="presentation" class="menulateral">
                <a href="~/Usuario/Index">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Usuário
                </a>
            </li>

            <li role="presentation" class="menulateral">
                <a href="~/Empresa/Index">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Config. Empresa
                </a>
            </li>
        }
        else
        if (ViewBag.TipoUsuario == "ADMINISTRADOR")
        {
            <li role="presentation" class="menulateral">
                <a href=@ViewBag.UrlConfEmpresa>
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Config. Empresa
                </a>
            </li>
        }
    </ul>
    <br />
</aside>

<div role="main" class="col-md-10 principal">
    <br />
    <div>
        @using (Html.BeginForm("Index", "Cadastro", FormMethod.Get))
        {
            <div class="input-group" style="padding-left: 0px; padding-right: 0px">
                @Html.TextBox("Search", null, new
                            {
                                placeholder = "Pesquisar por Nome",
                                @class = "form-control"
                            })

                <span class="input-group-btn">
                    <button type="submit" value="Procurar" class="btn btn-default" aria-label="Procurar">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>


                <span class="input-group-btn">
                    @*<span class="" aria-hidden="true"></span>*@
                    @*<input type="button" value="..." class="btn btn-block" style="width:300px" onclick="toggleDiv('opcionais')" />*@
                    <button type="button" class="btn btn-primary" aria-label="Filtros" @*style="background-color: #003366; color: white"*@ onclick="toggleDiv('opcionais')">
                        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
            <div class="opcionais" id="opcionais">
                <h4 style="text-align:center">Mais Opções de Pesquisa</h4>
            
                <h4>Cidade do cliente</h4>

                @Html.TextBox("Cidade", null, new
                    {
                        placeholder = "Cidade do cliente",
                        @class = "form-control"
                    })
                <br />
                <div class="col-md-5 margem-zero" style="text-align:center">
                    <br />
                    @*<input type="submit" value="Procurar" onclick="mostraMsgAguarde()" class="btn btn-primary" style="width:100%" />*@
                    <button type="submit" value="Procurar" onclick="mostraMsgAguarde()" class="btn btn-primary" style="width:100%">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Procurar
                    </button>
                </div>

                <div class="clearfix"></div>
            
                <div id="MsgAguarde">
                    <h3>Aguarde...</h3>
                </div>
            </div>
        }        
    </div>


    <h2>Cadastros</h2>
    <br />
    <div id="mensagemFiltro">
        <br />
        <div class="opcionais">
            <h3>Filtrando por</h3>
            <ul>
                @if (!string.IsNullOrEmpty(ViewBag.Cidade))
                {
                    <li>
                        Cidade
                        @ViewBag.Cidade
                    </li>
                }                
            </ul>
            @using (Html.BeginForm("Index", "Cadastro", FormMethod.Get))
            {
                <button type="submit" id="RemoveFiltro" name="RemoveFiltro" class="btn btn-default btn-sm" onclick="removeFiltros()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Remover Filtros
                </button>
            }
        </div>
    </div>
    
    <p>
        @*@Html.ActionLink("Novo Cadastro", "Create", null, new { @class = "btn btn-primary btn-group-justified" })*@
    </p>
    <div>
        
        <p style="text-align: right">
            Legendas:&nbsp;
            <label class="text-info">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Informações&nbsp;
            </label>
            
            
        </p>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr class="cabecalho-tabela">
                <th>
                    @*@Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NomeParam }, new { style = "color:#313131" })*@
                    @Html.Label("Nome")
                </th>
                <th>
                    @Html.Label("Fantasia")
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model[0].CpfCnpj)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Fone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].DescCidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Email)
                </th>                      
                <th></th>
            </tr>

            @foreach (var item in Model)
{
    <tr class="cursor-hover" onclick="location.href = '@(Url.Action("Details", "Cadastro", new { id = item.CadastroID }))'">
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fantasia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CpfCnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescCidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink(" ", "Details", new { id = item.CadastroID }, new { @class = "btn btn-info glyphicon glyphicon-info-sign" })
        </td>
    </tr>
}
        </table>
    </div>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index"
        , new { page, sortOrder = ViewBag.CurrentSort
                    , currentFilter = ViewBag.CurrentFilter
                    , Cidade = ViewBag.Cidade
              }
    ))
</div>
<div class="clearfix"></div>

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryui/stylesheet")

    <script type="text/javascript">


        function toggleDiv(divid) {
            var div = document.getElementById(divid);
            var disp = div.style.display;
            div.style.display = disp == 'none' ? 'block' : 'none';
        };

        function mostraMsgAguarde() {
            $('#MsgAguarde').show();
        };

        $("document").ready(function () {
            $('#opcionais').hide();
            $('#MsgAguarde').hide();

            var filtroCidade = '@(ViewBag.Cidade)';
           
            if (filtroCidade != '') {
                $('#mensagemFiltro').show();
            }
            else {
                $('#mensagemFiltro').hide();
            }

        });

    </script>
}
