@using PagedList.Mvc;
@model PagedList.IPagedList<PedidoWeb.Models.Cadastro>

@{
    ViewBag.Title = "Index";
}

<!-- Elementos da página devem estar dentro de um container -->
<!-- Barra lateral esquerda -->
<aside role="complementary" class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="menulateral">
            <a href="Home">
                <span class="glyphicon glyphicon-star-empty" aria-hidden="false"></span>
                Home
            </a>
        </li>
        <li role="presentation" class="menulateral">
            <a href="Home">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Profile
            </a>
        </li>
        <li role="presentation" class="menulateral">
            <a href="Home">
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                Messages
            </a>
        </li>
    </ul>
    <br />
</aside>
<div class="col-md-10 margem-zero" >
    @using (Html.BeginForm("Index", "Cadastro", FormMethod.Get))
    {
        <div class="input-group margem-zero">
            @Html.TextBox("Search", null, new
            {
                placeholder = "Pesquisar por Nome",
                @class = "form-control"
            })
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    Pesquisar
                </button>
            </span>
        </div>

    }
    <br />
</div>


<div role="main" class="col-md-10 principal">

    <h1>Cadastros</h1>
    <br>
    <p>
        @Html.ActionLink("Novo Cadastro", "Create", null, new { @class = "btn btn-primary" })
    </p>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr class="cabecalho-tabela">
                <th>
                    @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NomeParam }, new { style = "color:#313131" })
                </th>
                <th>
                    @Html.Display("Fantasia")
                </th>
                <th>
                    @Html.Display("Desconto")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].CpfCnpj)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Situacao)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fantasia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PercDescontoMaximo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CpfCnpj)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Situacao)
                    </td>
                    <td>
                        @Html.ActionLink("Detalhar", "Details", new { id = item.CadastroID }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Editar", "Edit", new { id = item.CadastroID }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Excluir", "Delete", new { id = item.CadastroID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
